<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../../../public/css/product.css">
    <link href="..\..\..\..\public\bootstrap-5.3.3-dist\css\bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="..\..\..\..\public\bootstrap-5.3.3-dist\js\bootstrap.bundle.min.js"></script>
    <title>Sản phẩm</title>
</head>
<body>
    <div id="container">
        <!-- HEADER-->
        <header>
            <div class="header-top">
                <div class="language-switcher">
                    <a href="#">EN</a> | <a href="#">VN</a>
                </div>
                <div class="contact-info">
                    <div class="phone">
                        <a class="fas fa-regular fa-phone"></a>
                    </div>
                
                    <a href="tel:0906904114">0906 904 114</a>
                    <div class="about">
                    <a href="../../ecommerce/src/webapp/about.html">About us</a>
                    <a href="#">Promotion</a>
                </div>
                </div>

                <div class="header-icons">
                    <a href="#" class="fas fa-map-marker-alt"></a>
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-shopping-cart"></a>
                    <a href="#" class="fas fa-light fa-user">Login</a>
                </div>
            </div>
            
            <div class="header-bottom">
                <div class="menu-icon">
                    <img src="/../../ecommerce/public/images/menu-bar/menu-bar.png" alt="Menu Icon">
                </div>
                <div class="logo">
                    <img src="https://media.discordapp.net/attachments/1284859855206744178/1298558579468668958/kanes-furniture-logo-vector.png?ex=671b51eb&is=671a006b&hm=dc2e44a1b008a11aa0eba91e78312a380685db11f8e263624e6db50813c454df&=&format=webp&quality=lossless&width=737&height=409"
                        alt="Logo">
                </div>
                <nav class="main-nav">
                    <a href="#">PRODUCTS</a>
                    <a href="#">ROOMS</a>
                    <a href="#">COLLECTIONS</a>
                    <a href="#">INTERIOR DESIGN SERVICE</a>
                </nav>

                <div class="search-bar">
                    <input type="text" placeholder="Tìm sản phẩm">
                    <button><i class="fa-solid fa-magnifying-glass"></i></button>
                </div>
            </div>
        </header>
        <!-- IMAGE HEADER -->
        <div id="imageHeader">
            <div class="title-bg">
                <div class="title">
                    <Strong style="padding: 10px; font-size: 30px;">Sản Phẩm</Strong><br>
                    <a href="#" style="font-weight: normal;">Trang chủ</a> / <a href="#" style="font-weight: bold;">Sản phẩm</a>
                </div>
            </div>
            <div class="mask"></div>
        </div>

        <!-- FILTER -->
        <div id="filter">
            <div class="row">
                <div class="col-md-2">
                    <div class="row">
                        <h6>Giá</h6>
                        <div class="dropdown-price">
                            <div class="dropdown-toggle-price" onclick="toggleDropdownPrice()">Theo mức độ phổ biến</div>
                            <div class="dropdown-menu-price">
                                <div class="dropdown-item-price selected" onclick="selectItem(this)">Theo mức độ phổ biến</div>
                                <div class="dropdown-item-price" onclick="selectItem(this)">Mới nhất</div>
                                <div class="dropdown-item-price" onclick="selectItem(this)">Theo giá: Thấp đến cao</div>
                                <div class="dropdown-item-price" onclick="selectItem(this)">Theo giá: Cao đến thấp</div>
                            </div>
                        </div>
                    </div>
                </div>
            
                <div class="col-md-2">
                    <div class="row">
                        <h6>Chât liệu</h6>
                        <div class="dropdown-material">
                            <div class="dropdown-toggle-material" onclick="toggleDropdownmaterial()">Tất cả</div>
                            <div class="dropdown-menu-material">
                                <div class="dropdown-item-material">
                                    <input type="checkbox" id="ceramic" onchange="updateSelection()">
                                    <label for="ceramic">Ceramic (42)</label>
                                </div>
                                <div class="dropdown-item-material">
                                    <input type="checkbox" id="da2" onchange="updateSelection()">
                                    <label for="da2">Đá (2)</label>
                                </div>
                                <div class="dropdown-item-material">
                                    <input type="checkbox" id="da181" onchange="updateSelection()">
                                    <label for="da181">Đá (181)</label>
                                </div>
                                <div class="dropdown-item-material">
                                    <input type="checkbox" id="da_vai" onchange="updateSelection()">
                                    <label for="da_vai">Da và vải (6)</label>
                                </div>
                                <div class="dropdown-item-material">
                                    <input type="checkbox" id="go" onchange="updateSelection()">
                                    <label for="go">Gỗ (383)</label>
                                </div>
                                <div class="dropdown-item-material hidden">
                                    <input type="checkbox" id="gom" onchange="updateSelection()">
                                    <label for="gom">Gốm (113)</label>
                                </div>
                                <div class="dropdown-item-material hidden">
                                    <input type="checkbox" id="kimloai" onchange="updateSelection()">
                                    <label for="kimloai">Kim loại (387)</label>
                                </div>
                                <div class="dropdown-footer" onclick="showMore()">Show more</div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-2">
                    <div class="applyBtn">
                        <button>Áp dụng</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- PRODUCTS -->
        <div id="p-product">
            <div class="container mt-5">
                <div class="row">
                    <div class="col-md-3">
                        <div class="card product-card">
                            <img src="https://nhaxinh.com/wp-content/uploads/2024/06/armchair-doulton-vintage-300x200.jpg" alt="Bàn ăn mở rộng Apian ceramic trắng P2C">
                            <div class="card-body">
                                <h6 class="product-name">Armchair Doulton vintage</h6>
                                <p class="product-price">28,500,000₫</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card product-card">
                            <a href="product-details.html">
                                <img src="https://nhaxinh.com/wp-content/uploads/2024/03/armchair-hung-king-300x200.jpg" alt="Bàn ăn Peak hiện đại mặt Ceramic vân mây">
                            </a>
                            <div class="card-body">
                                <h6 class="product-name">Armchair Hùng King + Gối VACT3231</h6>
                                <p class="product-price">13,900,000₫</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card product-card">
                            <img src="https://nhaxinh.com/wp-content/uploads/2024/07/armchair-may-moi-mau-xanh-300x200.jpg" alt="Bàn ăn tròn Vortex 1m2 ceramic P14C">
                            <div class="card-body">
                                <h6 class="product-name">Armchair Mây mới</h6>
                                <p class="product-price">13,900,000₫</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card product-card">
                            <img src="https://nhaxinh.com/wp-content/uploads/2024/04/armchair-tet-vai-vact10499-300x200.jpg" alt="Bàn ăn tròn Vortex 1m2 ceramic P9C">
                            <div class="card-body">
                                <h6 class="product-name">Armchair Ogami vải vact10499</h6>
                                <p class="product-price">8,900,000₫</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card product-card">
                            <img src="https://nhaxinh.com/wp-content/uploads/2024/04/armchair-tet-vai-vact10504-300x200.jpg" alt="Bàn ăn Valente 8 chỗ">
                            <div class="card-body">
                                <h6 class="product-name">Armchair Ogami vải vact10504</h6>
                                <p class="product-price">8,900,000đ</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card product-card">
                            <img src="https://nhaxinh.com/wp-content/uploads/2024/05/easy-chair-oriental-vact10389-4-300x200.jpg" alt="Bàn bên 3C-02">
                            <div class="card-body">
                                <h6 class="product-name">Armchair Oriental vact10389</h6>
                                <p class="product-price">15,900,000đ</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card product-card">
                            <img src="https://nhaxinh.com/wp-content/uploads/2024/08/armchair-saka-p100-vai-vact10498-300x200.jpg" alt="Bàn bên Bottiglia màu xanh 50cm">
                            <div class="card-body">
                                <h6 class="product-name">Armchair Saka P100 vải vact10498</h6>
                                <p class="product-price">14,630,000đ</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card product-card">
                            <img src="https://nhaxinh.com/wp-content/uploads/2024/03/armchair-vai-dark-sf044vf.i-300x200.jpg" alt="Bàn bên butterfly ginkgo 411510 MCA">
                            <div class="card-body">
                                <h6 class="product-name">Armchair vải Dark SF044VF.I</h6>
                                <p class="product-price">32,900,000đ</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card product-card">
                            <img src="https://nhaxinh.com/wp-content/uploads/2024/03/ban-an-8-cho-rudo.jpg" alt="Bàn ăn 8 chỗ Moretti">
                            <div class="card-body">
                                <h6 class="product-name">Bàn ăn 8 chỗ Moretti</h6>
                                <p class="product-price">59,000,000đ</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card product-card">
                            <img src="https://nhaxinh.com/wp-content/uploads/2024/08/ban-an-8-cho-orientale-walnut.jpg" alt="Bàn ăn 8 chỗ Orientale Walnut">
                            <div class="card-body">
                                <h6 class="product-name">Bàn ăn 8 chỗ Orientale Walnut</h6>
                                <p class="product-price">72,500,000đ</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card product-card">
                            <img src="https://nhaxinh.com/wp-content/uploads/2024/03/ban-an-breeze-mat-kinh-bronze-gm2-2.jpg" alt="Bàn ăn Breeze mặt kính bronze/GM2">
                            <div class="card-body">
                                <h6 class="product-name">Bàn ăn Breeze mặt kính bronze/GM2</h6>
                                <p class="product-price">207,900,000đ</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card product-card">
                            <img src="https://nhaxinh.com/wp-content/uploads/2024/06/Ban-an-Peak-hien-dai-mat-Ceramic-van-may.jpg" alt="Bàn ăn Peak hiện đại mặt Ceramic vân mây">
                            <div class="card-body">
                                <h6 class="product-name">Bàn ăn Peak hiện đại mặt Ceramic vân mây</h6>
                                <p class="product-price">44,970,000đ</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card product-card">
                            <img src="https://nhaxinh.com/wp-content/uploads/2024/06/ban-ben-bottiglia-mau-xanh-50cm.jpg" alt="Bàn bên Bottiglia màu xanh 50cm">
                            <div class="card-body">
                                <h6 class="product-name">Bàn bên Bottiglia màu xanh 50cm</h6>
                                <p class="product-price">15,400,000đ</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card product-card">
                            <img src="https://nhaxinh.com/wp-content/uploads/2024/06/ban-ben-3c-02.jpg" alt="Bàn bên 3C-02">
                            <div class="card-body">
                                <h6 class="product-name">Bàn bên 3C-02</h6>
                                <p class="product-price">7,990,000đ</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card product-card">
                            <img src="https://nhaxinh.com/wp-content/uploads/2024/04/ban-ben-butterfly-ginkgo-411510-mca.jpg" alt="Bàn bên butterfly ginkgo 411510 MCA">
                            <div class="card-body">
                                <h6 class="product-name">Bàn bên butterfly ginkgo 411510 MCA</h6>
                                <p class="product-price">95,600,185đ</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card product-card">
                            <img src="https://nhaxinh.com/wp-content/uploads/2023/11/ban-ben-endless-vegas-mau-cam.jpg" alt="Bàn bên Endless Vegas màu cam">
                            <div class="card-body">
                                <h6 class="product-name">Bàn bên Endless Vegas màu cam</h6>
                                <p class="product-price">14,900,000đ</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card product-card">
                            <img src="https://nhaxinh.com/wp-content/uploads/2023/04/BINH-AILA-TURQUOISE-116170E.jpg" alt="Bình Aila Turquoise">
                            <div class="card-body">
                                <h6 class="product-name">Bình Aila Turquoise</h6>
                                <p class="product-price">12,420,000đ</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card product-card">
                            <img src="https://nhaxinh.com/wp-content/uploads/2022/10/BINH-ALINE-CERAMIC-RED-XS16X16X16-23102J.jpg" alt="Bình Aline đỏ XS 16x16x16 23102J">
                            <div class="card-body">
                                <h6 class="product-name">Bình Aline đỏ XS 16x16x16 23102J</h6>
                                <p class="product-price">660,000đ</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card product-card">
                            <img src="https://nhaxinh.com/wp-content/uploads/2023/01/BINH-ANEMONE-MEDIUM-175082-MCA.jpg" alt="Bình Anemone cỡ trung 175082MCA">
                            <div class="card-body">
                                <h6 class="product-name">Bình Anemone cỡ trung 175082MCA</h6>
                                <p class="product-price">5,190,000đ</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card product-card">
                            <img src="https://nhaxinh.com/wp-content/uploads/2022/06/Binh-Bloom-Green-820053Z.jpg" alt="Bình Bloom Green 820053Z">
                            <div class="card-body">
                                <h6 class="product-name">Bình Bloom Green 820053Z</h6>
                                <p class="product-price">1,750,000đ</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- PAGINATION -->
        <div id="p-pagination">
            <div class="p-pagination-box">
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center" style="--bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgba(21, 21, 22, 0.25);">
                        <!-- Trang hiện tại -->
                        <li class="page-item active" aria-current="page">
                            <span class="page-link" style="background-color: black; font-weight: bold; border-color: black;">1</span>
                        </li>
        
                        <!-- Các trang lân cận -->
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
        
                        <!-- Dấu ba chấm -->
                        <li class="page-item disabled">
                            <span class="page-link">...</span>
                        </li>
        
                        <!-- Các trang cuối -->
                        <li class="page-item"><a class="page-link" href="#">18</a></li>
                        <li class="page-item"><a class="page-link" href="#">19</a></li>
                        <li class="page-item"><a class="page-link" href="#">20</a></li>
        
                        <!-- Nút sang trang kế -->
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- fOOTER -->
        <footer class="footer">
            <div class="footer-container">
                <!-- Left Column -->
                <div class="footer-column">
                    <h3>KẾT NỐI VỚI NHÀ XINH</h3>
                    <img src="https://media.discordapp.net/attachments/1284859855206744178/1298558579468668958/kanes-furniture-logo-vector.png?ex=671b51eb&is=671a006b&hm=dc2e44a1b008a11aa0eba91e78312a380685db11f8e263624e6db50813c454df&=&format=webp&quality=lossless&width=737&height=409"
                        alt=" Logo" class="footer-logo">
                    <p>FOLLOW US</p>
                    <p>Instagram – Youtube – Facebook</p>
                    <button class="footer-button">HỆ THỐNG CỬA HÀNG</button>
                </div>

                <!-- Second Column -->
                <div class="footer-column">
                    <h3>NHÀ XINH</h3>
                    <ul>
                        <li><a href="#">Giới thiệu</a></li>
                        <li><a href="#">Chuyện Nhà Xinh</a></li>
                        <li><a href="#">Tổng công ty</a></li>
                        <li><a href="#">Tuyển dụng</a></li>
                        <li><a href="#">Thẻ hội viên</a></li>
                        <li><a href="#">Đổi trả hàng</a></li>
                    </ul>
                </div>

                <!-- Third Column -->
                <div class="footer-column">
                    <h3>CẢM HỨNG</h3>
                    <ul>
                        <li><a href="#">Sản phẩm</a></li>
                        <li><a href="#">Ý tưởng và cảm hứng</a></li>
                    </ul>
                </div>

                <!-- Fourth Column -->
                <div class="footer-column">
                    <h3>NEWSLETTER</h3>
                    <p>Hãy để lại email của bạn để nhận được những ý tưởng trang trí mới và thông tin ưu đãi từ Nhà Xinh</p>
                    <p>Email: nhaxinhcare@akacompany.com.vn</p>
                    <p>Hotline: 18007200</p>
                    <div class="newsletter">
                        <input type="email" placeholder="Nhập email của bạn">
                        <button class="subscribe-button">ĐĂNG KÝ</button>
                    </div>
                </div>
            </div>

            <!-- Footer Bottom -->
            <div class="footer-bottom">
                <p>© 2021 - Bản quyền của Nhà Xinh - Thương hiệu thuộc AKA Furniture. Từ năm 1999 - Thương hiệu đăng ký số
                    284074 Cục sở hữu trí tuệ</p>
            </div>
        </footer>
    </div>
    
    <script>
        function toggleDropdownPrice() {
            document.querySelector('.dropdown-menu-price').classList.toggle('active');
        }
    
        function selectItem(item) {
            // Cập nhật tiêu đề
            document.querySelector('.dropdown-toggle-price').textContent = item.textContent;
            
            // Đánh dấu mục được chọn và bỏ đánh dấu mục cũ
            document.querySelectorAll('.dropdown-item-price').forEach(el => el.classList.remove('selected'));
            item.classList.add('selected');
            
            // Ẩn menu
            document.querySelector('.dropdown-menu-price').classList.remove('active');
        }
    
        document.addEventListener('click', function(event) {
            const dropdown = document.querySelector('.dropdown-price');
            if (!dropdown.contains(event.target)) {
                document.querySelector('.dropdown-menu-price').classList.remove('active');
            }
        });

        function toggleDropdownmaterial() {
            document.querySelector('.dropdown-menu-material').classList.toggle('active');
        }
    
        function updateSelection() {
            const selectedItems = [];
            document.querySelectorAll('.dropdown-item-material input[type="checkbox"]:checked').forEach((checkbox) => {
                const label = checkbox.nextElementSibling;
                selectedItems.push(label.textContent.trim());
            });
            
            
            document.querySelector('.dropdown-toggle-material').textContent = selectedItems.join(', ') || "Tất cả";

        }
    
        function showMore() {
            const textFooter = document.querySelector('.dropdown-footer').textContent
            if (textFooter === "Show more"){
                document.querySelectorAll('.dropdown-item-material').forEach(e =>{
                if (e.classList.contains('hidden')){
                    e.classList.remove('hidden')
                    e.classList.add('show')
                }
                 })
                document.querySelector('.dropdown-footer').textContent = "Hide less"
            }else if (textFooter === "Hide less"){
                document.querySelectorAll('.dropdown-item-material').forEach(e =>{
                if (e.classList.contains('show')){
                    e.classList.remove('show')
                    e.classList.add('hidden')
                }
                 })
                document.querySelector('.dropdown-footer').textContent = "Show more"
            }
            
        }
    
        document.addEventListener('click', function(event) {
            const dropdown = document.querySelector('.dropdown-material');
            if (!dropdown.contains(event.target)) {
                document.querySelector('.dropdown-menu-material').classList.remove('active');
            }
        });

       
    </script>
</body>
</html>