#container{
    width: 100%;
}
.img-intro {
    display: inline-block;
    position: relative;
    overflow: hidden; 
    filter: brightness(0.7); 
}


.intro img {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    z-index: 0; 
}

.page-title-inner{
    position: absolute;
    margin-top: -80px;
    color: white;
    z-index: 2;
}

.page-title-inner{
    font-weight: bold;
}
.page-title-inner .title-wrapper{
    display: inline-flex;
    float: left;
    margin-left: 100px;
}
.page-title-inner .title-content{
    float: right;
    display: inline-flex;
    padding: 0 0 0 1000px;
}
.content{
    margin-left: 100px;
    margin-right: 100px;
    padding: 40px;
    justify-content: space-between;
    align-items: center;
}
.history{
    padding: 0 0 20px ;
    text-align: center;
}
.part1 {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden; 
}

.des{
    display: block;
    text-align: center;
    padding: 0 0 20px ;
    display: flex;
    flex-wrap: wrap;
}

.img-p1{
    width: 50%;
    flex-direction: column;
    padding-right: 20px;
    padding-bottom: 20px;
}
.des-p1{
    width: 50%;
    padding-bottom: 20px;

}
.img-p2{
    width: 48.5%;
    padding-bottom: 20px;

}
.des-p2{
    width: 50%;
    padding-left: 20px;
    padding-bottom: 20px;


}

.part2{
    display: flex;
    flex-wrap: wrap;
}
.img-p3{
    width: 48.5%;
    padding-bottom: 20px;
    
}

.img-p4{
    width: 48.5%;
    padding-bottom: 20px;
}
.des-p3{
    width: 50%;
    padding: 0 0 20px 20px;
}
.des-p4{
    width: 50%;
    padding-left: 20px;
    padding-bottom: 20px;
}
.part3{
    display: flex;
    flex-direction: column;    
}
.part3 img{
    width: 50%;
display: grid;
}
.img-part3-1{
    padding-bottom: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

