* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: red; */
}
.container-header {
    height: 160px;
    width: auto;
    margin-left: 100px;
    margin-right: 100px;
    /* background-color: red; */
}
body {
    font-family: Arial, sans-serif;
}

header {
    width: 100%;
    border-bottom: 1px solid #ccc;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f8f8f8;
    font-size: 14px;
   
}
.language-switcher,
.contact-info,
.header-icons {
    display: flex;
    align-items: center;
}
.contact-info{
    margin-left: -400px;
}
.header-top a {
    text-decoration: none;
    color: #000;
    margin: 0 5px 0 ;
}
.phone{
    padding: 5px;
}
.about{
    font-weight: lighter;
}
.header-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    
}

.menu-icon img {
    width: 25px;
    cursor: pointer;
    margin-right: 10px;
}

.logo img {
    width: 70px;
}

.main-nav {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.main-nav a {
    text-decoration: none;
    color: #000;
    font-weight: lighter;
    font-size: 16px;
}

.header-icons {
    display: flex;
    gap: 15px;
    align-items: center;
    /* margin-right: 100px; */
}

.header-icons img {
    width: 20px;
    cursor: pointer;
}

.search-bar {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 5px 10px;
}

.search-bar input {
    border: none;
    outline: none;
    width: 200px;
    padding: 5px;
}

.search-bar button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.search-bar img {
    width: 16px;
}

ul li {
    list-style-type: none;
}
.img-intro{
    width: 100%;
    height: 500px;
}
.intro{
    position: relative;
}
.page-title-inner{
    position: absolute;
    margin-top: -80px;
    color: white;
}
.page-title-inner{
    font-weight: bold;
}
.page-title-inner .title-wrapper{
    display: inline-flex;
    float: left;
    margin-left: 100px;
}
.page-title-inner .title-content{
    float: right;
    display: inline-flex;
    padding: 0 0 0 1000px;
    /* color: #000; */
}
.content{
    margin-left: 100px;
    margin-right: 100px;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}
.history{
    padding: 0 0 20px ;
    text-align: center;
}
.part1 {
    overflow: hidden; /* Đảm bảo phần tử chứa không bị ảnh hưởng bởi float */
}

.img-p1, .img-p2, .img-p3, .img-p4 {
    width: 45%;
    float: left;
}

.img-p1 img {
    width: 100%;
    height: auto;
}

.des-p1 {
    width: 45%;
    float: right;
    padding: 10px;
}
