* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: red; */
}
.container{
    height: 160px;
    width: auto;
    margin-left: 100px;
    margin-right: 100px;
    /* background-color: red; */
}
body {
    font-family: Arial, sans-serif;
}

header {
    width: 100%;
    border-bottom: 1px solid #ccc;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f8f8f8;
    font-size: 14px;
   
}
.language-switcher,
.contact-info,
.header-icons {
    display: flex;
    align-items: center;
}
.contact-info{
    margin-left: -400px;
}
.header-top a {
    text-decoration: none;
    color: #000;
    margin: 0 5px 0 ;
}
.phone{
    padding: 5px;
}
.about{
    font-weight: lighter;
}
.header-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    
}

.menu-icon img {
    width: 25px;
    cursor: pointer;
    margin-right: 10px;
}

.logo img {
    width: 70px;
}

.main-nav {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.main-nav a {
    text-decoration: none;
    color: #000;
    font-weight: lighter;
    font-size: 16px;
}

.header-icons {
    display: flex;
    gap: 15px;
    align-items: center;
    /* margin-right: 100px; */
}

.header-icons img {
    width: 20px;
    cursor: pointer;
}

.search-bar {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 5px 10px;
}

.search-bar input {
    border: none;
    outline: none;
    width: 200px;
    padding: 5px;
}

.search-bar button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.search-bar img {
    width: 16px;
}

ul li {
    list-style-type: none;
}