html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif, Tahoma;
}   
#container {
    background-image: linear-gradient(
        to right, 
        rgba(23, 248, 42, 0.5), 
        rgba(121, 0, 187, 0.5)),
        url('..\images\logos\backgroundlogin.png');
    background-size: cover;
    background-position: center;
    height: 100%;

}
.box p{
    margin-bottom: 5px;
    margin-top: 10px;
}
.logo{
    /* background-color: green; */
    height: 20%;
    display: flex;
    justify-content: center;
    align-items:center ;
}
.logobox{
    margin-top: 40px;
    width: 200px;
    height:100px;
    background-image: url("../images/logos/logo3.png");
    background-size: cover;
    background-position: center;
}
.content{   
    height: 60%;
    display: flex;
    justify-content: center;
    align-items:center ;
}
.box{
    background-color: white;
    height: 300px;
    width: 400px;
    padding: 20px;
    border: solid 1px black;
    border-radius: 20px;
    position: relative;
    margin-top: 50px;
}
.title-fotgot-password{
    margin-bottom: 20px;
}
.title-fotgot-password p{
    margin-top: 0;
}
.styled-input{
    width: 96%;
    height: 10%;
    border-radius: 5px;
    font-size: 14px;
    padding: 5px;
}
.rememberBox{
    margin-top: 20px;
}
.btns{
    margin-top: 40px;
}
.next{
    width: 100%;
    margin: 10px 0;
}
.comeback{
    margin: 15px 0;
}
.btn{
    text-decoration: none;
    width: 100%;
    font-weight: bold;
    height: 30px;
    border-radius: 5px;
    border: none;
}
.next .btn{
    background-color: rgb(16, 110, 22);
    color: white;
    padding: 5px 169px;
}
.comeback .btn{
    background-color: white;
    color: rgb(16, 110, 22); 
    padding: 5px 126px;
}

/* Change password */
#change-password .box{
    height: 330px;
}
.title-change-password{
    margin-bottom: 0;
}
.authentic{
    margin-top: 15px;
    height: 50px;
    font-size: 12px;
    background-color: rgba(94, 91, 91, 0.404);
    width: 70%;
    border-radius: 5px;
}
.check-capcha{
    float: left;
    width: 65%;
    padding: 0 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: left;
    align-items: center;
}
.check-capcha input{
    margin-right: 15px;
    width: 16px;
    height: 16px;
}
.image-box{
    float: right;
    width: 20%;
    display: flex;
    justify-content: left;
    align-items: center;
}
.image-capcha{
    width: 50px;
    height: 35px;
    margin-top: 7px;
    margin-bottom: 7px;
}
.next.submit2{
    height: 13%;
    margin-top: 20px;
    margin-bottom: 0;
}
/* .next.submit2:hover{
    background-color:  rgb(16, 110, 22);
    color: white;
    border-radius: 5px;
} */
.next.submit2 .btn{
    width: 100%;
    padding: 0; 
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

