html, body{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: sans-serif, Tahoma;
    height: 100%;
}
h1{
    font-size: 30px;
}
h2{
    font-size: 20px;
}
p{
    font-size: 18px;
}
a{
    font-size: 18px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
strong{
    font-size: 22px;
}
ul{
    list-style-type: none;
    display: flex;
}
.margin-top-bottom-25{
    margin: 25px 0;
}
.clearfix {
    content: "";
    display: flex;
    clear: both;
}
#container{
    width: 1262px;
    margin-left: auto;
    margin-right: auto;
}

/* START HEADER */
.container-header{
    height: 160px;
    width: auto;
    margin-left: 100px;
    margin-right: 100px;
}
body {
    font-family: Arial, sans-serif;
}

header {
    width: 100%;
    border-bottom: 1px solid #ccc;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f8f8f8;
    font-size: 14px;
   
}
.language-switcher,
.contact-info,
.header-icons {
    display: flex;
    align-items: center;
}
.contact-info{
    margin-left: -400px;
}
.header-top a {
    text-decoration: none;
    color: #000;
    margin: 0 5px 0 ;
}
.phone{
    padding: 5px;
}
.about{
    font-weight: lighter;
}
.header-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    
}

.menu-icon img {
    width: 25px;
    cursor: pointer;
    margin-right: 10px;
}

.logo img {
    width: 70px;
}

.main-nav {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.main-nav a {
    text-decoration: none;
    color: #000;
    font-weight: lighter;
    font-size: 16px;
}

.header-icons {
    display: flex;
    gap: 15px;
    align-items: center;
}

.header-icons img {
    width: 20px;
    cursor: pointer;
}

.search-bar {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 5px 10px;
}

.search-bar input {
    border: none;
    outline: none;
    width: 200px;
    padding: 5px;
}

.search-bar button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.search-bar img {
    width: 16px;
}

ul li {
    list-style-type: none;
}

/* END HEADER */

#path-nav a{
    color: #b2b2b2;
    font-size: 16px;
    margin: 10px 0;
    font-weight: normal;
}

#product-details{
    min-width: 500px;
    height: auto;
    overflow: hidden;
    
}
#product-details .product-image{
    float: left;
    width: 50%;
    height: auto;
}
.image-product-detail{
    width: 100%;
    height: 100%;
}
#product-details .product-image .image-right{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: chocolate;
    float: right;
    width: 100%;
    height: 100%;

}
#product-details .product-describe{
    float: right;
    width: 50%;
    height: 100%;

}
.product-title{
    font-size: 38px;
    letter-spacing: 2px;
}
.wishlist-icon .wishlist-button{
    width: 30px;
    height: 30px;
}
.price-wrapper .product-page-price{
    font-size: 18px;
}
.product-attributes-wrapper span{
    border: solid 1px black;
    padding: 5px;
    border-radius: 3px;
}
.product-attributes-materail{
    margin: 25px 0;
}
.product-describe .stock-available{
    margin: 20px 0;
}
.product-describe span{
    font-size: 18px;
}
.cart{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart .left-btn{
    float: left;
    width: 30%;
   
}
.cart .right-btn{
    float: right;
    width: 70%;
}
.quantity.buttons-added input{
    padding: 10px;
    font-size: 20px;

}
.quantity.buttons-added{
    width: 30%;
}
#input-quantity{
    text-align: center;
    width: 25px;
}
/* Ẩn spinner trên Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
        input[type="number"]::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
.buy-button{
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 10px;
    border: solid 1px black;
}
.add-to-cart{
    background-color: white;
    margin-left: 30px;
    font-size: 20px;
    padding: 10px;
    border: solid 1px black;
}
.woocommerce-content{
    font-size: 25px;
    line-height: 30px;
}
#guarantee-tab{
    margin: 20px 20px 20px 0;  
    padding-bottom: 10px;
    color: black;
    cursor: pointer; 
    font-weight: bold;
    border-bottom: solid 3px #fbaf1a;
}
#delivery-tab{
    margin: 20px;
    padding-bottom: 10px;
    color: #7d7d7d;
    cursor: pointer;
    font-weight: bold;
    border-bottom: solid 3px white;
}
.hotline{
    text-align: center;
}
.hotline a{
    color: red;
}
.menu-items{
    display: flex;
    width: 100%;
    float: left;
}
.tab-panels{
    min-height: 1100px;
    top: 60px;
    height: auto;
    position: relative;
}
#guarantee-panels{
    height: 100%;
    position: absolute;
    width: 100%;
    margin-top: 10px;
    visibility: visible;
}
#delivery-panels{
    position: absolute;
    width: 100%;
    margin-top: 10px;   
    visibility: hidden;
}
#similar{
    height: 50px;
    background-color: gray;

}
#watched{
    height: 50px;
    background-color: aquamarine;

}
#suggest{
    height: 100px;
    background-color: bisque;
}

/* Start footer */
.footer {
    background-color: #2a2a2a;
    color: #fff;
    padding: 40px;  
    /* width: 1200px; */
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-column {
    flex: 1;
    padding: 0 15px;
}

.footer-column h3 {
    margin-bottom: 20px;
    font-size: 18px;
    text-transform: uppercase;
    border-bottom: 2px solid #ccc;
    display: inline-block;
    padding-bottom: 5px;
}

.footer-column ul {
    list-style: none;
}

.footer-column ul li {
    margin: 10px 0;
}

.footer-column ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}

.footer-column ul li a:hover {
    text-decoration: underline;
}

.footer-logo {
    margin: 20px 0;
    width: 120px;
}

.footer-button {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
}

.footer-button:hover {
    background-color: #fff;
    color: #2a2a2a;
}

.newsletter input {
    padding: 10px;
    width: 70%;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

.newsletter button {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    background-color: #fff;
    color: #2a2a2a;
    cursor: pointer;
    border-radius: 5px;
}

.newsletter button:hover {
    background-color: #ccc;
}

.footer-bottom {
    text-align: center;
    border-top: 1px solid #444;
    padding-top: 20px;
    margin-top: 40px;
}


.footer-bottom p {
    font-size: 12px;
    margin-top: 20px;
}

.footer-bottom img {
    display: inline-block;
    margin-top: 10px;
}
/* End footer */

/* CSS page Product */
#p-pagination{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#p-pagination ul{
    margin: 21px 0;
}
#p-pagination a.page-link{
    background-color: white;
    color: black;
}
/* product */
.product-card {
    text-align: center;
    margin-bottom: 20px;
}
.card.product-card{
    height: 90%;
}
.product-card img {
    width: 100%;
    height: auto;
}
.product-name {
    font-weight: bold;
}
.product-price {
    color: #888;
}
/* START IMAGE HEADER */
#imageHeader{
    position: relative;
    width: 100%;
    height: 500px;
}
#imageHeader .title-bg{
    height: 100%;
    background-image: url('../../public/images/banners/banner-all-product.jpg');
    background-size: cover;
    background-position: center;
    z-index: -1;
}
#imageHeader .mask{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 0;
}

#imageHeader .title-bg .title{
    position: absolute;
    z-index: 1;
    color: white;
    margin-left: 50px;
    bottom: 50px;
}
#imageHeader .title-bg .title a{
    text-decoration: none;
    color: white;
    padding: 10px;
}
/* END IMAGE HEADER */
/* START FILTER */
#filter{
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
    height: 100px;
}
#filter .row{
    margin-left: 6px;
    width: 100%;
    height: 100%;
}
.col-md-2{
    height: 100%;
    width: 23% !important;
    margin: 0 5%;
}

.dropdown-price {
    position: relative;
    width: 200px;
}

.dropdown-toggle-price {
    width: 100%;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #f8ccd6;
    border-radius: 5px;
    color: #000;
    cursor: pointer;
}

.dropdown-toggle-price:after {
    content: '▼';
    float: right;
    font-size: 12px;
    color: #888;
}

.dropdown-menu-price {
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;
    background-color: #fff;
    border: 1px solid #f8ccd6;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

.dropdown-menu-price.active {
    display: block;
}

.dropdown-menu-price .dropdown-item-price {
    padding: 10px;
    cursor: pointer;
    color: #000;
}

.dropdown-menu-price .dropdown-item-price:hover {
    background-color: #f8ccd6;
    color: #d61a5e;
}

.dropdown-menu-price .dropdown-item-price.selected {
    color: #d61a5e;
    font-weight: bold;
}

.dropdown-material {
    position: relative;
    width: 250px;
}

.dropdown-toggle-material {
    width: 100%;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #f8ccd6;
    border-radius: 5px;
    color: #000;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown-toggle-material:after {
    content: '▼';
    font-size: 12px;
    color: #888;
}

.dropdown-menu-material {
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    background-color: #fff;
    border: 1px solid #f8ccd6;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 100;
    padding: 10px;
}

.dropdown-menu-material.active {
    display: block;
}

.dropdown-item-material {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.dropdown-item-material input[type="checkbox"] {
    margin-right: 10px;
    cursor: pointer;
}

.dropdown-item-material label {
    cursor: pointer;
    color: #000;
}
input:checked + label {
    color: #d61a5e;
    font-weight: bold;
}
.hidden{
    display: none;
}
.show{
    display: block;
}
.dropdown-footer {
    margin-top: 10px;
    text-align: center;
    color: #d61a5e;
    cursor: pointer;
}
.col-md-2 .applyBtn{
    margin-top: 15%;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}
.col-md-2 .applyBtn button{
    background-color: black;
    color: white;
    padding: 10px;
    width: 100%;
}

/* END FILTER */
