html, body{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: sans-serif, Tahoma;
    height: 100%;
}
#container{
    width: 1262px;
    margin-left: auto;
    margin-right: auto;
    min-height:400px;
    height: auto;
}
#footer{
    width: 100%;
    height: 534px;
}
#content{
    height: 100%;
    display: flex;
    margin-top: 20px;
    padding-bottom: 20px;
}
#menu{
    background-color: #f6f7f8;
    width: 15%;
}
#menu .title{
    padding: 5px;
    border-left: solid 5px #fbaf1a;
}
#menu .sub-menu{
    padding: 10px;
    color: #4B4E51;
}
.hidden{
    display: none;
}
.show{
    display: block;
}
h6{
    padding: 10px 10px !important;
    margin: 0 !important;
}
a{
    text-decoration: none !important;
    color: #4B4E51 !important;
}

#sub-content{
    background-color: white;
    margin: 0 20px;
    width: 60%;
    position: relative;
}
#information{
    width: 100%;
    height: 100%;
    font-size: 16px;
}
.row{
    width: 100%;
    margin-bottom: 10px;
}
.border-1-black{
    border: solid 1px black;
}
.flex-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.pb-10{
    padding-bottom: 10px;
}
.p-2-1{
    padding: 10px 5px;
}
.input-text{
    padding: 7px 10px;
}
.sub-menu .clicked{
    color: black !important;
    background-color: #ddd;

}

.sub-menu h6:hover{
    cursor: pointer;
}
.b-w-b{
    background-color: black;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}
.p-red{
    color: red;
}
/* Log out */
#log-out{
    background-color: white;
    width: 100%;
    min-height: 400px;
    font-size: 16px;
    position: absolute;
    top: 0;
    left: 0;
}
.box-logout{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.content-logout{
    width: 300px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.check-out-image{
    width: 50px;
    height: 50px;
    background-image: url("../images/check-out.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.check-out-image img{
    height: 100%;
    width: 100%;
}
.buttons-box{
    display: flex;
    justify-content: center;
}
.btns{
    padding: 5px 8px;
    margin: 10px 30px;
    font-weight: bold;
}
.btns:hover{
    background-color: #4f4848;
    color: white;
}

/*  */
#reminds-products{
    width: 25%;
}
#reminds-products .wish-list{
    min-height: 80px;
    height: auto;
    border: solid 1px #dddddd;
}
#reminds-products .product-viewed{
    min-height: 200px;
    height: auto;
    border: solid 1px #dddddd;
    margin-top: 50px;
}
#reminds-products h5{
    margin-top: 15px !important;
}
.margin-lr-20{
    margin: 0 20px;
}
.product-item img {
    width: 100%;
    max-width: 80px;
    height: auto;
}

.product-item {
    text-align: center;
    padding: 15px;
}

/* Order */

#order h3{
    margin: 5px 3px;
}
.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.nav-order{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20px;
    margin-top: 30px;
}
.nav-order .nav-box{
    margin: 0 10px;
    padding: 10px;
    color: #5a5b5c;
    font-weight: bold;
    font-size: 1rem;
}
.nav-order .fchild{
    border-bottom:solid 5px #e5a321;
    color: black;
}
.nav-order .nav-box:hover{
    cursor: pointer;
}
.nav-box.clicked{
    border-bottom: solid 5px #e5a321;
    color: black;
}