#mask {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
#details{
    width: 95%;
    height: 90%;

}
#order-details, #signature-frame{
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    z-index: 2000
}

#title-detail{
    margin-bottom: 10px;

}
#item-details{
    width: 100%;
    max-height: 280px;
    overflow-x: hidden ;
    overflow-y: auto;
    margin-bottom: 20px;
}
#title-pop-up{
    width: 96%;
    justify-content: center;
    display: flex;
    flex-direction: row;
    position: relative;
}
#close-pop-up{
    position: absolute;
    font-size: 30px;
    display: flex;
    cursor: pointer;
    align-items: center;
    right: 0;
    top: 10px;
}

#order-detail-box {
    width: 730px;
    max-height: 400px;
    border-radius: 20px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}