<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <title>Admin</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
    <link rel="stylesheet" href="../../../../public/css/admin/style.css">
</head>

<body>
    <input type="checkbox" id="sidebar-toggle">
    <div class="sidebar">
        <div class="sidebar-header">
            <h3 class="brand">
                <span class="ti-panel"></span>
                <span>Dashboard</span>
            </h3>
            <label for="sidebar-toggle" class="ti-menu-alt"></label>
        </div>

        <div class="sidebar-menu">
            <ul>
                <!-- For management -->
                 <li>
                    <a class="separator">
                        General
                    </a>
                 </li>
                <li>
                    <a href="dashboard.html">
                        <span class="ti-home"></span>
                        <span>Home</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="ti-wheelchair"></span>
                        <span>Admins</span>
                    </a>
                </li>
                <li>
                    <a href="user-management.html">
                        <span class="ti-user"></span>
                        <span>Staffs</span>
                    </a>
                </li>
                <li>
                    <a href="role-permissions-management.html">
                        <span class="ti-agenda"></span>
                        <span>Role & Permissions</span>
                    </a>
                </li>
                <li>
                    <a href="product-management.html">
                        <span class="ti-truck"></span>
                        <span>Product Management</span>
                    </a>
                </li>
                <li>
                    <a href="category-management.html">
                        <span class="ti-menu"></span>
                        <span>Category Management</span>
                    </a>
                </li>
                <li>
                    <a href="inventory-management.html">
                        <span class="ti-server"></span>
                        <span>Inventory Management</span>
                    </a>
                </li>
                <li>
                    <a href="order-management.html">
                        <span class="ti-receipt"></span>
                        <span>Order Management</span>
                    </a>
                </li>
                <li>
                    <a href="promotions-discounts.html">
                        <span class="ti-ticket"></span>
                        <span>Promotions & Discounts</span>
                    </a>
                </li>
                <li>
                    <a href="purchases-management.html">
                        <span class="ti-money"></span>
                        <span>Purchases</span>
                    </a>
                </li>
                <li>
                    <a href="sales-reports.html">
                        <span class="ti-bar-chart"></span>
                        <span>Sales Report</span>
                    </a>
                </li>
                
                <!-- For user self -->

                <li>
                    <a class="separator">Users</a>
                </li>
                
                <li>
                    <a href="profile-management/html">
                        <span class="ti-user"></span>
                        <span>Profile</span>
                    </a>
                </li>
                
                <!-- For support -->

                <li>
                    <a class="separator">
                        Support
                    </a>
                </li>

                <li>
                    <a href="settings.html">
                        <span class="ti-settings"></span>
                        <span>Settings</span>
                    </a>
                </li>
                <li>
                    <a href="privacy-policy.html">
                        <span class="ti-info-alt"></span>
                        <span>Privacy policy</span>
                    </a>
                </li>
                <li>
                    <a href="FAQs.html">
                        <span class="ti-help-alt"></span>
                        <span>FAQs</span>
                    </a>
                </li>
                <li>
                    <a href="help-center.html">
                        <span class="ti-headphone-alt"></span>
                        <span>Help center</span>
                    </a>
                </li>
                
            </ul>
        </div>
    </div>


    <div class="main-content">

        <header>
            <div class="search-wrapper">
                <span class="ti-search"></span>
                <input type="search" placeholder="Search">
            </div>

            <div class="social-icons">
                <span class="ti-bell"></span>
                <span class="ti-comment"></span>
                <div></div>
            </div>
        </header>

        <main>

            <h2 class="dash-title">Overview</h2>
            <h3 class="dash-address">
                <a href="dashboard.html">Home</a>/<a href="#">admins</a>
            </h3>

            <div class="dash-cards">

                <div class="card-single">
                    <div class="card-body">
                        <span class="ti-id-badge"></span>
                        <div>
                            <h5>Number of Admins</h5>
                            <h4>5</h4>
                        </div>
                    </div>
                </div>

                <div class="card-single">
                    <div class="card-body">
                        <span class="ti-check-box"></span>
                        <div>
                            <h5>Current Online Admins</h5>
                            <h4>1</h4>
                        </div>
                    </div>
                </div>

            </div>


            <section class="recent">
                <div class="activity-grid-alt">
                    <div class="activity-card">

                        <div>    
                            <div class="search-wrapper">
                                <h3>Admin List</h3>
                                <span class="ti-search"></span>
                                <input type="search" placeholder="Search content here...">
                            </div>
                        </div>

                        <div class="table-responsive">
                            <table>
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Username</th>
                                        <th>Email Address</th>
                                        <th>Role</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>theempty</td>
                                        <td>emptythe.56@gmail.com</td>
                                        <td>Admin</td>
                                        <td>
                                            <span class="badge success">Online</span>
                                        </td>
                                        <td>
                                            <a href="">
                                                <span class="ti-pencil-alt"></span>
                                            </a>
                                            <a href="">
                                                <span class="ti-trash"></span>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>harvey2807</td>
                                        <td>harvey.2807@gmail.com</td>
                                        <td>Admin</td>
                                        <td>
                                            <span class="badge warning">Offline</span>
                                        </td>
                                        <td>
                                            <a href="">
                                                <span class="ti-pencil-alt"></span>
                                            </a>
                                            <a href="">
                                                <span class="ti-trash"></span>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>PKhanhDuy</td>
                                        <td>pkhanhduy.48@gmail.com</td>
                                        <td>Admin</td>
                                        <td>
                                            <span class="badge warning">Verifying</span>
                                        </td>
                                        <td>
                                            <a href="">
                                                <span class="ti-pencil-alt"></span>
                                            </a>
                                            <a href="">
                                                <span class="ti-trash"></span>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>randomguy</td>
                                        <td>randomguy@hotmail.com</td>
                                        <td>Admin</td>
                                        <td>
                                            <span class="badge alert">Suspected</span>
                                        </td>
                                        <td>
                                            <a href="">
                                                <span class="ti-pencil-alt"></span>
                                            </a>
                                            <a href="">
                                                <span class="ti-trash"></span>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>nttoan</td>
                                        <td>nttoan.3004@gmail.com</td>
                                        <td>Admin</td>
                                        <td>
                                            <span class="badge alert">On Deleting Progress</span>
                                        </td>
                                        <td>
                                            <a href="">
                                                <span class="ti-pencil-alt"></span>
                                            </a>
                                            <a href="">
                                                <span class="ti-trash"></span>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="pagination">
                            <h6 class="show-entries">*Showing 1 to 5 of 5 entries</h3>
                            <a href="#">&laquo;</a>
                            <a href="#" class="active">1</a>
                            <a href="#">&raquo;</a>
                            <a href="add-user.html" class="add-user-btn">Add user</a>
                        </div>

                    </div>
                </div>
            </section>

        </main>

    </div>

</body>

</html>