<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đặt lại mật khẩu</title>
    <link rel="stylesheet" href="..\..\..\..\public\css\password.css">
</head>
<body>
    <div id="container">
        <div class="logo">
            <div class="logobox"></div>
        </div>
        <div id="change-password" class="content">
            <div class="box">
                <div class="title-change-password">
                    <h2>Thay đổi mật khẩu</h2>
                </div>
                <div class="change-password">
                    <p>Mật khẩu mới</p>
                    <input type="text" id="username-r" class = "styled-input">
                    <p>Xác nhận lại mật khẩu</p>
                    <input type="text" id="password-r" class="styled-input">
                </div>
                <div class="authentic">
                    <div class="check-capcha">
                        <input type="checkbox" class="capcha-checkbox">
                        <label for="login" class="register-button">Tôi không phải là người máy</label>
                    </div>
                    <div class="image-box">
                        <img src="../../../../public/images/captcha.png" alt="" class="image-capcha">
                    </div>
                </div>
                <div class="next submit2">
                    <a href="notification-success.html" class="btn">Xác nhận</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
