
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../../public/css/password.css">
    <title>Quên mật khẩu</title>
</head>
<body>
    <div id="container">
        <div class="logo">
            <div class="logobox">
            </div>
        </div>
        <div class="content">
            <div class="box">
                <p>Username or Email address</p>
                <input type="text" id="username-l" class = "styled-input">
                <p>Password</p>
                <input type="text" id="password-l" class="styled-input">
                <div class="rememberBox">
                    <input type="checkbox" id="remember" name="remember">
                    <label for="remember">Remember me</label>
                </div>
                <label for="login" class="loginButton">Login</label>
            </div>
        </div>
        <div class="footer">
            <div class="subfooter">
                <a href="#">Lost your password?</a>
                <a href="#"><i class="fa-sharp fa-light fa-arrow-left"></i>Go to store</a> 
            </div>
        </div>
    </div>
</body>
</html>