<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../../public/css/password.css">
    <title>Quên mật khẩu</title>
</head>
<body>
    <div id="container">
        <div class="logo">
            <div class="logobox">
            </div>
        </div>
        <div class="content">
            <div class="box">
                <div class="title-fotgot-password">
                    <h2>Đã gửi mail xác thực</h2>
                    <p>Vui lòng kiểm tra mail của bạn để được hướng dẫn lấy lại mật khẩu.</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
