<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../../public/css/profile.css">
    <link rel="stylesheet" href="../../../../public/bootstrap-5.3.3-dist/css/bootstrap.min.css">
    <title>Tài khoản của tôi</title>
</head>
<body>
    <div id="container">
        <div id="content">
            <div id="menu">
                <div class="title">
                    <h3 style="margin: 5px 0;">Tài khoản cá nhân</h3>
                </div>
                <div class="sub-menu">
        
                    <h5 id="sub-menu-info">Thông tin của tôi</h5>
                    <h5 id="sub-menu-order">Đơn hàng</h5>
                    <h5 id="sub-menu-product-viewed">Sản phẩm vừa xem</h5>
                    <h5 id="sub-menu-wish-list">Danh sách ưa thích</h5>
                    <h5 id="sub-menu-logout">Đăng xuất</h5>
                    
                </div>
            </div>
            <div id="information">

            </div>
            <div id="reminds-products">
                <div class="wish-list">
                    <div class="wish-list-title margin-lr-20">
                        <h3>Danh sách yêu thích</h3>
                    </div>
                </div>
                <div class="product-viewed">
                    <div class="wish-list-viewed margin-lr-20">
                        <h3>Danh sách yêu thích</h3>
                    </div>
                    <div class="list-products">
                        <div class="row">
                            <div class="col-4 col-sm-3 col-md-4 product-item">
                                <a href="">
                                    <img src="../../../../public/images/all-products/1.jpg" alt="">
                                </a>
                            </div>
                            <div class="col-4 col-sm-3 col-md-4 product-item">
                                <a href="">
                                    <img src="../../../../public/images/all-products/77.jpg" alt="">
                                </a>
                            </div>
                            <div class="col-4 col-sm-3 col-md-4 product-item">
                                <a href="">
                                    <img src="../../../../public/images/all-products/44.jpg" alt="">
                                </a>
                            </div>
                            <div class="col-4 col-sm-3 col-md-4 product-item">
                                <a href="">
                                    <img src="../../../../public/images/all-products/33.jpg" alt="">
                                </a>
                            </div>
                            <div class="col-4 col-sm-3 col-md-4 product-item">
                                <a href="">
                                    <img src="../../../../public/images/all-products/55.jpg" alt="">
                                </a>
                            </div>
                            <div class="col-4 col-sm-3 col-md-4 product-item">
                                <a href="">
                                    <img src="../../../../public/images/all-products/134.jpg" alt="">
                                </a>
                            </div>
                            <div class="col-4 col-sm-3 col-md-4 product-item">
                                <a href="">
                                    <img src="../../../../public/images/all-products/100.jpg" alt="">
                                </a>
                            </div>
                            <div class="col-4 col-sm-3 col-md-4 product-item">
                                <a href="">
                                    <img src="../../../../public/images/all-products/13.jpg" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
