<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order</title>
    <link rel="stylesheet" href="../../../../../public/css/header.css">
    <link rel="stylesheet" href="../../../../../public/css/order.css">
    <link rel="stylesheet" href="../../../../../public/css/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container-hd">
        <header>
            <div class="header-top-hd">
                <div class="language-switcher-hd">
                    <a href="#">EN</a> | <a href="#">VN</a>
                </div>
                <div class="contact-info-hd">
                    <div class="phone-hd">
                        <a class="fas fa-regular fa-phone"></a>
                    </div>
                 
                    <a href="tel:0906904114">0906 904 114</a>
                    <div class="about-hd">
                    <a href="../../ecommerce/src/webapp/about.html">Giới thiệu</a>
                    <a href="#">Khuyến mãi </a>
                </div>
                </div>

                <div class="header-icons-hd">
                    <a href="#" class="fas fa-map-marker-alt"></a>
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-shopping-cart"></a>
                    <a href="#" class="fas fa-light fa-user"></a>
                    <h4 style="font-weight: lighter; margin-left: -15px; font-size: large; margin-top: 10px;">Đăng nhập</h4>
                </div>
            </div>
            <!-- create mobile menu -->
            <div id="background-trans" hidden class="mfp-bg mfp-ready"></div>
            <div class="header-bottom-hd">
                <div class="menu-icon-hd">
                    <img src="../../../../../public/images/menu-bar/menu-bar.png" alt="Menu Icon" onclick="openNav()">
                    <div id="myNav" class="menu-overlay">
                        <a href="javascript:void(0)" class="menu-closebtn" style="border-bottom: none; font-size: 40px;" onclick="closeNav()">&times;</a>
                        <div class="menu-overlay-content">
                          <a class=" btn-secondary dropdown-toggle"  data-bs-toggle="dropdown"   href="#">Sofa và Armchair</a>
                          <div  >
                            <ul class="dropdown-menu">
                                <li id="menu-item-3785" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-3785"><a href="https://nhaxinh.com/danh-muc/phong-khach/sofa/">Sofa</a></li>
                                <li id="menu-item-3786" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-3786"><a href="https://nhaxinh.com/danh-muc/phong-khach/sofa-goc/">Sofa góc</a></li>
                                <li id="menu-item-24359" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-24359"><a href="https://nhaxinh.com/danh-muc/phong-khach/armchair/">Armchair</a></li>
                                <li id="menu-item-3377" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-3377"><a href="https://nhaxinh.com/danh-muc/phong-khach/ghe-dai-don/">Ghế dài &amp; đôn</a></li>
                                <li id="menu-item-3378" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-3378"><a href="https://nhaxinh.com/danh-muc/phong-khach/ghe-thu-gian/">Ghế thư giãn</a></li>
                            </ul>
                          </div>
                          <a class=" btn-secondary dropdown-toggle"  data-bs-toggle="dropdown" href="#">Bàn</a>
                          <div  >
                            <ul class="dropdown-menu">
                                <li id="menu-item-24417" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-24417"><a href="https://nhaxinh.com/danh-muc/phong-khach/ban-nuoc/">Bàn nước</a></li>
                                <li id="menu-item-3362" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-3362"><a href="https://nhaxinh.com/danh-muc/phong-an/ban-an/">Bàn ăn</a></li>
                                <li id="menu-item-3372" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-3372"><a href="https://nhaxinh.com/danh-muc/phong-khach/ban-ben/">Bàn bên</a></li>
                                <li id="menu-item-3387" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-3387"><a href="https://nhaxinh.com/danh-muc/phong-lam-viec/ban-lam-viec/">Bàn làm việc</a></li>
                                <li id="menu-item-3382" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-3382"><a href="https://nhaxinh.com/danh-muc/phong-ngu/ban-trang-diem/">Bàn trang điểm</a></li>
                            </ul>
                          </div>
                          <a class=" btn-secondary dropdown-toggle"  data-bs-toggle="dropdown" href="#">Ghế</a>
                          <div  >
                            <ul class="dropdown-menu">
                                <li id="menu-item-28024" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-28024"><a href="https://nhaxinh.com/danh-muc/phong-an/ghe-an/">Ghế ăn</a></li>
                                <li id="menu-item-3365" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-3365"><a href="https://nhaxinh.com/danh-muc/phong-an/ghe-bar/">Ghế bar</a></li>
                                <li id="menu-item-3388" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-3388"><a href="https://nhaxinh.com/danh-muc/phong-lam-viec/ghe-phong-lam-viec/">Ghế làm việc</a></li>
                            </ul>
                          </div>
                          <a class=" btn-secondary dropdown-toggle"  data-bs-toggle="dropdown" href="#">Giường ngủ</a>
                          <div  >
                            <ul class="dropdown-menu">
                                <li id="menu-item-28345" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-28345"><a href="https://nhaxinh.com/danh-muc/phong-ngu/giuong/">Giường</a></li>
                                <li id="menu-item-3381" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-3381"><a href="https://nhaxinh.com/danh-muc/phong-ngu/ban-dau-giuong/">Bàn đầu giường</a></li>
                                <li id="menu-item-3795" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-3795"><a href="https://nhaxinh.com/danh-muc/phong-ngu/nem/">Nệm</a></li>
                            </ul>
                            </ul>
                          </div>
                          <a class=" btn-secondary dropdown-toggle"  data-bs-toggle="dropdown" href="#">Tủ và kệ</a>
                          <div  >
                            <ul class="dropdown-menu">
                                <li id="menu-item-3790" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-3790"><a href="https://nhaxinh.com/danh-muc/phong-khach/tu-tivi/">Tủ tivi</a></li>
                                <li id="menu-item-3776" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-3776"><a href="https://nhaxinh.com/danh-muc/outlet/tu-trung-bay/">Tủ trưng bày</a></li>
                                <li id="menu-item-3779" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-3779"><a href="https://nhaxinh.com/danh-muc/phong-an/tu-ly/">Tủ ly</a></li>
                                <li id="menu-item-3780" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-3780"><a href="https://nhaxinh.com/danh-muc/phong-an/tu-ruou/">Tủ rượu</a></li>
                                <li id="menu-item-3781" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-3781"><a href="https://nhaxinh.com/danh-muc/phong-an/xe-day/">Xe đẩy</a></li>
                                <li id="menu-item-3798" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-3798"><a href="https://nhaxinh.com/danh-muc/phong-ngu/tu-hoc-keo/">Tủ hộc kéo</a></li>
                                <li id="menu-item-3797" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-3797"><a href="https://nhaxinh.com/danh-muc/phong-ngu/tu-ao/">Tủ áo</a></li>
                                <li id="menu-item-3796" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-3796"><a href="https://nhaxinh.com/danh-muc/phong-ngu/tu-am-tuong/">Tủ âm tường</a></li>
                                <li id="menu-item-3788" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-3788"><a href="https://nhaxinh.com/danh-muc/phong-khach/tu-giay/">Tủ giày</a></li>
                                <li id="menu-item-3380" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-3380"><a href="https://nhaxinh.com/danh-muc/phong-khach/ke-phong-khach/">Kệ phòng khách</a></li>
                            </ul>
                          </div>
                          <a class=" btn-secondary dropdown-toggle"  data-bs-toggle="dropdown" href="#">Bếp</a>
                          <div  >
                            <ul class="dropdown-menu">
                                <li id="menu-item-3813" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-3813"><a href="https://nhaxinh.com/danh-muc/bep/tu-bep/">Tủ bếp</a></li>
                                <li id="menu-item-3810" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-3810"><a href="https://nhaxinh.com/danh-muc/bep/phu-kien-bep/">Phụ kiện bếp</a></li>
                                <li id="menu-item-3349" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-3349"><a href="https://nhaxinh.com/danh-muc/bep/dao-bep/">Đảo bếp</a></li>
                                <li id="menu-item-3811" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-3811"><a href="https://nhaxinh.com/danh-muc/bep/quay-bar/">Quầy bar</a></li>
                            </ul>
                          </div>
                          <a class=" btn-secondary dropdown-toggle"  data-bs-toggle="dropdown" href="#">Hàng trang trí</a>
                          <div  >
                            <ul class="dropdown-menu">
                                <li id="menu-item-3353" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-3353"><a href="https://nhaxinh.com/danh-muc/hang-trang-tri/binh-trang-tri/">Bình trang trí</a></li>
                                <li id="menu-item-3354" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-3354"><a href="https://nhaxinh.com/danh-muc/hang-trang-tri/den/">Đèn trang trí</a></li>
                                <li id="menu-item-3355" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-3355"><a href="https://nhaxinh.com/danh-muc/hang-trang-tri/do-trang-tri-noel/">Đồ trang trí Noel</a></li>
                                <li id="menu-item-3356" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-3356"><a href="https://nhaxinh.com/danh-muc/hang-trang-tri/dong-ho-hang-trang-tri/">Đồng hồ</a></li>
                                <li id="menu-item-3357" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-3357"><a href="https://nhaxinh.com/danh-muc/hang-trang-tri/dung-cu-bep/">Dụng cụ bếp</a></li>
                                <li id="menu-item-3358" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-3358"><a href="https://nhaxinh.com/danh-muc/hang-trang-tri/goi-va-thu-bong/">Gối và thú bông</a></li>
                                <li id="menu-item-3359" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-3359"><a href="https://nhaxinh.com/danh-muc/hang-trang-tri/hang-trang-tri-khac/">Hàng trang trí khác</a></li>
                                <li id="menu-item-3360" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-3360"><a href="https://nhaxinh.com/danh-muc/hang-trang-tri/hoa-cay/">Hoa &amp; Cây</a></li>
                                <li id="menu-item-3800" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-3800"><a href="https://nhaxinh.com/danh-muc/hang-trang-tri/khung-guong/">Khung gương</a></li>
                                <li id="menu-item-3801" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-3801"><a href="https://nhaxinh.com/danh-muc/hang-trang-tri/khung-hinh/">Khung hình</a></li>
                                <li id="menu-item-3802" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-3802"><a href="https://nhaxinh.com/danh-muc/hang-trang-tri/nem-hang-trang-tri/">Nệm</a></li>
                                <li id="menu-item-3804" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-3804"><a href="https://nhaxinh.com/danh-muc/hang-trang-tri/san-pham-khac/">Sản phẩm khác</a></li>
                                <li id="menu-item-3805" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-3805"><a href="https://nhaxinh.com/danh-muc/hang-trang-tri/tham/">Thảm</a></li>
                                <li id="menu-item-3794" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-3794"><a href="https://nhaxinh.com/danh-muc/phong-ngu/men/">Mền</a></li>
                                <li id="menu-item-3806" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-3806"><a href="https://nhaxinh.com/danh-muc/hang-trang-tri/tranh/">Tranh</a></li>
                                <li id="menu-item-3807" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-3807"><a href="https://nhaxinh.com/danh-muc/hang-trang-tri/tuong-trang-tri/">Tượng trang trí</a></li>
                            </ul>
                          </div>
                          <a class=" btn-secondary dropdown-toggle"  data-bs-toggle="dropdown" href="#">Ngoại thất</a>
                          <div>
                            <ul class="dropdown-menu">
                            <li id="menu-item-3391" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-3391"><a href="https://nhaxinh.com/danh-muc/ngoai-that/ban-ngoai-troi/">Bàn ngoài trời</a></li>
                            <li id="menu-item-3393" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-3393"><a href="https://nhaxinh.com/danh-muc/ngoai-that/ghe-ngoai-troi/">Ghế ngoài trời</a></li>
                        </ul>
                        </div>
                        </div>
                      </div>
                </div>
                <div class="logo-hd">
                    <img src="../../../../../public/images/logos/logo3.png"
                        alt="Logo">
                </div>
                <nav class="main-nav">
                    <a style="color: black; border: none;" 
                    class="btn dropdown-toggle" href="#">SẢN PHẨM</a>
                 
                    <ul class="dropdown-menu">
                        <div class="row"  id="row-873750177">


                            <div id="col-1465340020" class="col medium-2 small-6 large-2"  >
                                        <div class="col-inner"  >
                                    
                            <div class="ux-menu stack stack-col justify-start">
                                
                            <div class="ux-menu-link flex menu-item">
                                <a class="ux-menu-link__link flex" href="https://nhaxinh.com/danh-muc/phong-khach/sofa/" >
                                                <span class="ux-menu-link__text">
                                        Sofa			</span>
                                </a>
                            </div>
                            
                        
                            <div class="ux-menu-link flex menu-item">
                                <a class="ux-menu-link__link flex" href="https://nhaxinh.com/danh-muc/phong-khach/armchair/" >
                                                <span class="ux-menu-link__text">
                                        Armchair			</span>
                                </a>
                            </div>
                            
                        
                            <div class="ux-menu-link flex menu-item">
                                <a class="ux-menu-link__link flex" href="https://nhaxinh.com/danh-muc/phong-khach/ghe-dai-don/" >
                                                <span class="ux-menu-link__text">
                                        Ghế dài &amp; đôn			</span>
                                </a>
                            </div>
                            
                        
                            <div class="ux-menu-link flex menu-item">
                                <a class="ux-menu-link__link flex" href="https://nhaxinh.com/danh-muc/phong-khach/ban-ben/" >
                                                <span class="ux-menu-link__text">
                                        Bàn bên			</span>
                                </a>
                            </div>
                            <div class="ux-menu-link flex menu-item">
                                <a class="ux-menu-link__link flex" href="https://nhaxinh.com/danh-muc/phong-khach/ban-nuoc/" >
                                                <span class="ux-menu-link__text">
                                        Bàn nước			</span>
                                </a>
                            </div>
                            <div class="ux-menu-link flex menu-item">
                                <a class="ux-menu-link__link flex" href="https://nhaxinh.com/danh-muc/phong-khach/tu-giay/" >
                                                <span class="ux-menu-link__text">
                                        Tủ giày			</span>
                                </a>
                            </div>
                        
                            </div>
                                </div>
                                            </div>
                        
                            <div id="col-668683791" class="col medium-2 small-6 large-2"  >
                                        <div class="col-inner"  >
                        
                            <div class="ux-menu stack stack-col justify-start">
                        
                            <div class="ux-menu-link flex menu-item">
                                <a class="ux-menu-link__link flex" href="https://nhaxinh.com/danh-muc/phong-an/ghe-bar/" >
                                                <span class="ux-menu-link__text">
                                        Ghế Bar			</span>
                                </a>
                            </div>
                        
                            <div class="ux-menu-link flex menu-item">
                                <a class="ux-menu-link__link flex" href="https://nhaxinh.com/danh-muc/phong-an/tu-ly/" >
                                                <span class="ux-menu-link__text">
                                        Tủ ly			</span>
                                </a>
                            </div>
                            </div>
                        
                                </div>
                                            </div>
                        
                            <div id="col-306964646" class="col medium-2 small-6 large-2"  >
                                        <div class="col-inner"  >
                        
                            <div class="ux-menu stack stack-col justify-start">
                                
                        
                            <div class="ux-menu-link flex menu-item">
                                <a class="ux-menu-link__link flex" href="https://nhaxinh.com/danh-muc/phong-ngu/giuong/" >
                                                <span class="ux-menu-link__text">
                                        Giường ngủ			</span>
                                </a>
                            </div>
                        
                            <div class="ux-menu-link flex menu-item">
                                <a class="ux-menu-link__link flex" href="https://nhaxinh.com/danh-muc/phong-ngu/tu-ao/" >
                                                <span class="ux-menu-link__text">
                                        Tủ áo			</span>
                                </a>
                            </div>
                            </div>
                                </div>
                                            </div>
                        
                            <div id="col-763303414" class="col medium-2 small-6 large-2"  >
                                        <div class="col-inner"  >
                                    
                            <div class="ux-menu stack stack-col justify-start">
                            <div class="ux-menu-link flex menu-item">
                                <a class="ux-menu-link__link flex" href="https://nhaxinh.com/danh-muc/phong-lam-viec/ban-lam-viec/" >
                                                <span class="ux-menu-link__text">
                                        Bàn làm việc			</span>
                                </a>
                            </div>
                            </div>
                                </div>
                                            </div>
                        
                            <div id="col-2111288232" class="col medium-2 small-6 large-2"  >
                                        <div class="col-inner"  >
                        
                            <div class="ux-menu stack stack-col justify-start">
                        
                            <div class="ux-menu-link flex menu-item">
                                <a class="ux-menu-link__link flex" href="https://nhaxinh.com/danh-muc/hang-trang-tri/den/" >
                                                <span class="ux-menu-link__text">
                                        Đèn trang trí			</span>
                                </a>
                            </div>
                            <div class="ux-menu-link flex menu-item">
                                <a class="ux-menu-link__link flex" href="https://nhaxinh.com/danh-muc/hang-trang-tri/binh-trang-tri/" >
                                                <span class="ux-menu-link__text">
                                        Bình trang trí			</span>
                                </a>
                            </div>
                            <div class="ux-menu-link flex menu-item">
                                <a class="ux-menu-link__link flex" href="https://nhaxinh.com/danh-muc/hang-trang-tri/khung-guong/" >
                                                <span class="ux-menu-link__text">
                                        Gương			</span>
                                </a>
                            </div>
                            <div class="ux-menu-link flex menu-item">
                                <a class="ux-menu-link__link flex" href="https://nhaxinh.com/danh-muc/hang-trang-tri/dong-ho-hang-trang-tri/" >
                                                <span class="ux-menu-link__text">
                                        Đồng hồ			</span>
                                </a>
                            </div>
                            </div>
                                </div>
                                            </div>
                        
                            <div id="col-225901627" class="col medium-2 small-12 large-2"  >
                                        <div class="col-inner"  >
                                    
                                    
                        
                            <div class="ux-menu stack stack-col justify-start ux-menu--divider-solid">
                                
                        
                        
                            <div class="ux-menu-link flex menu-item">
                                <a class="ux-menu-link__link flex" href="https://nhaxinh.com/danh-muc/hang-trang-tri/hang-trang-tri-khac/" >
                                                <span class="ux-menu-link__text">
                                        Hàng trang trí khác			</span>
                                </a>
                            </div>
                            
                            
                      </ul>
                    <a style="margin-top: 5px;" href="#">PHÒNG</a>
                    <a style="margin-top: 5px;" href="#">BỘ SƯU TẬP</a>  

                </nav>

                <div class="search-bar-hd">
                    <input type="text" placeholder="Tìm sản phẩm">
                    <button><i class="fa-solid fa-magnifying-glass"></i></button>

                </div>
            </div>
        </header>
    </div>
    <script>
        function openNav() {
            document.getElementById("myNav").style.width = "20%";
            document.getElementById("background-trans").hidden = false;
        }

        function closeNav() {
            document.getElementById("myNav").style.width = "0%";
            document.getElementById("background-trans").hidden = true;
            
        }

    </script>
    <div class="container" style="margin-top: 2%;">
            <div class="shipping-address", style="border: none;">
                <h2>Địa Chỉ Giao Hàng</h2>
                <form>
                    <label>Họ và tên *</label>
                    <input type="text" placeholder="Nhập họ và tên">
    
                    <label>Số điện thoại *</label>
                    <input type="text" placeholder="Nhập số điện thoại của bạn">
    
                    <label>Địa chỉ email *</label>
                    <input type="email" placeholder="Nhập email">
    
                    <label>Tỉnh / Thành phố *</label>
                    <select>
                        <option>Chọn tỉnh / thành phố</option>
                    </select>
    
                    <label>Quận / Huyện *</label>
                    <select>
                        <option>Chọn quận / huyện</option>
                    </select>
    
                    <label>Địa chỉ *</label>
                    <input type="text" placeholder="Nhập địa chỉ">
    
                    <label class="checkbox-label">
                        <input type="checkbox">
                        Create an account?
                    </label>
    
                    <h3>THÔNG TIN THÊM</h3>
                    <label>Lưu ý cho đơn hàng (tùy chọn)</label>
                    <textarea placeholder="Viết các lưu ý cho đơn hàng của bạn, ví dụ: lưu ý đặc biệt khi vận chuyển."></textarea>
    
                    <h3>PHƯƠNG THỨC THANH TOÁN</h3>
                    <div class="payment-method" >
                        <button class="pay-bank">Chuyển khoản ngân hàng</button>
                        <button class="cod">Thanh toán khi nhận hàng</button>
                    </div>
                </form>
            </div>
    
            <div class="order-summary", style="border: none;">
                <h2>Tóm tắt đơn hàng</h2>
                <div class="summary-item">
                    <p>Thành tiền</p>
                    <p>13,900,000₫</p>
                </div>
    
                <h3>VẬN CHUYỂN</h3>
                <label><input type="radio" name="shipping"> Liên hệ phí vận chuyển sau</label>
                <label><input type="radio" name="shipping"> Phí vận chuyển</label>
    
                <div class="summary-item">
                    <p>TỔNG CỘNG</p>
                    <p>13,900,000₫</p>
                </div>
    
                <h3>Sản phẩm</h3>
                <div class="product">
                    <img src="../../../../../public/images/all-products/52.jpg" alt="Armchair">
                    <div class="product-details">
                        <p>Armchair Hùng King + Gối</p>
                        <p>VACT3231 × 1</p>
                        <p>13,900,000₫</p>
                    </div>
                </div>
    
                <h3>CHÍNH SÁCH BÁN HÀNG</h3>
                <div class="policy">
                    <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-offset="0" class="scrollspy-example" tabindex="0">
                        <div id="col-1787990321" class="col small-12 large-12">
                            <div class="col-inner">
                        
                        <p></p>
            <div id="content" class="content-area" role="main">
                <p><strong>CHÍNH SÁCH BÁN HÀNG</strong></p>
                <p><strong>1<span style="font-size: 14.4px">.</span> Thanh toán</strong></p>
                <p>Nhà Xinh chỉ áp dụng duy nhất một hình thức thanh toán online qua thẻ tín dụng, chuyển khoản, cụ thể:</p>
                <ul>
                <li>Bước 1: Khách hàng tìm hiểu thông tin về sản phẩm.</li>
                <li>Bước 2: Khách hàng xác thực đơn hàng (điện thoại, tin nhắn, email).</li>
                <li>Bước 3: Khách hàng đồng ý các điều khoản mua hàng, chi phí giao hàng và lắp đặt.</li>
                <li>Bước 4: Khách hàng thanh toán qua các thẻ ATM/VISA/CREDIT CARD.</li>
                <li>Bước 5: Hệ thống Nhà Xinh xác nhận thông tin khách hàng và giao hàng.</li>
                <li>Bước 6: Khách hàng nhận hàng, kiểm tra và xác nhận với nhân viên.</li>
                </ul>
                <p><strong>2. Chính sách lưu kho (Bên mua gửi/ lưu giữ hàng hóa tại kho của bên bán).</strong></p>
                <p>Thỏa thuận lưu kho, phí lưu kho và điều kiện lưu kho sẽ được ký kết nếu khách hàng có nhu cầu kí gửi hàng hóa.</p>
                <p>3<strong>. ĐƠN HÀNG CÓ HIỆU LỰC.</strong></p>
                <p>Đơn hàng có hiệu lực là đơn hàng sau khi Quý khách đã thanh toán và nhận được xác nhận của nhân viên bán hàng Nhà Xinh.</p>
                <p>Quý khách không được hủy đơn hàng sau khi đã thanh toán và nhận được xác nhận của nhân viên bán hàng Nhà Xinh.</p>
                <p>4<strong>. QUY ĐỊNH ĐỔI TRẢ HÀNG HÓA.</strong></p>
                <p>4.1. Các trường hợp h<strong>ợp được đổi hàng:</strong></p>
                <p>Nhà Xinh sẽ thực hiện việc đổi, trả hàng hóa theo các điều kiện sau:</p>
                <ul>
                <li>Hàng không đủ số lượng, đủ bộ, hoặc không đúng chủng loại theo như trong đơn đặt hàng của Quý khách.</li>
                <li>Hàng bị lỗi, không đạt chất lượng.</li>
                </ul>
                <p><strong>4.2. Các trường hợp KHÔNG được đổi trả hàng hóa:</strong></p>
                <ul>
                <li>– Sản phẩm đã sử dụng, dơ bẩn, hoặc hư hại.</li>
                <li>– Sản phẩm không có đầy đủ chứng từ, hóa đơn.</li>
                <li>– Sản phẩm mua theo các diện thanh lý, khuyến mại, bán hiện trạng.</li>
                <li>– Sản phẩm đã được Quý khách ký vào biên bản nhận hàng.</li>
                </ul>
                <p><strong>CHÍNH SÁCH GIAO HÀNG</strong></p>
                <p>1.<strong> PHẠM VI ÁP DỤNG</strong></p>
                <p>Tất cả các đơn hàng có nhu cầu giao hàng và lắp đặt tại nhà được đặt mua theo hình thức mua online (qua website nhaxinh.com, điện thoại, fanpage…).</p>
                <p><strong>2. THỜI GIAN GIAO HÀNG.</strong></p>
                <p>– Chính sách giao hàng được áp dụng trong giờ hành chính từ thứ 2 đến hết thứ 7 (trừ chủ nhật, ngày lễ, tết).</p>
                <p>– Đối với các đơn hàng có sản phẩm cần lắp đặt, nhân viên giao hàng và kỹ thuật sẽ đến tận nhà lắp đặt cho Quý khách.</p>
                <p>– Đơn hàng giao tại nội thành Hà Nội, Hồ Chí Minh:</p>
                <p>• Đối với các sản phẩm có sẵn tại kho và showroom: khách hàng đặt hàng từ 09h-17h sẽ được giao vào ngày hôm sau.</p>
                <p>• Đối với đơn hàng phát sinh sau 17h: sẽ được giao trong 02 ngày làm việc.</p>
                <p>• Đối với các sản phẩm đặt hàng: thời gian giao hàng sẽ được thỏa thuận giữa hai bên.</p>
                <p>– Đơn hàng đi tỉnh hoặc khu vực ngoại thành Hà Nội, Hồ Chí Minh sẽ được hoàn tất trong 02 – 04 ngày làm việc (trừ trường hợp chờ hàng).</p>
                <p>– Lịch giao hàng trong thời gian diễn ra chương trình khuyến mại sẽ được nhân viên chúng tôi thông báo cụ thể tới quý khách.</p>
                <p><strong>3. BIỂU PHÍ GIAO HÀNG – LẮP ĐẶT.</strong></p>
                <p>– Biểu phí giao hàng bao gồm chi phí vận chuyển và chi phí nhân công giao hàng – lắp đặt (nếu có và đã bao gồm VAT).</p>
                <p>– Áp dụng lắp đặt cho các nhóm hàng nội thất. Không bao gồm nhóm đèn điện và các nhóm hàng khác.</p>
                <p>– Biểu phí giao hàng:</p>
                <p>• Đơn hàng dưới 10 triệu đồng: 350.000đ/ 1 chuyến trong nội thành Hà Nội và Hồ Chí Minh.</p>
                <p>• Đơn hàng từ 10 triệu đồng trở lên: miễn phí vận chuyển và lắp đặt trong nội thành Hà Nội và Hồ Chí Minh.</p>
                <p>• Đơn hàng đi tỉnh hoặc khu vực ngoại thành Hà Nội, Hồ Chí Minh sẽ được thông báo mức phí cụ thể tới Quý khách sau khi Nhà Xinh tiếp nhận thông tin đơn hàng.</p>
                <p>– Lưu ý: Các loại phụ phí khác như lưu kho, phí khoan tường, phí tháo dỡ, phí giao tới địa điểm không thuận lợi như trên tầng/ lầu cao không có hoặc không sử dụng được thang máy; hoặc khu vực lắp đặt phải thuê xe cẩu đưa hàng hóa lên cao; hoặc mặt bằng khu vực lắp đặt không đảm bảo điều kiện có phát sinh chi phí vận chuyển; hoặc các trường hợp khác,… Chúng tôi sẽ thông báo mức phí cụ thể tới quý khách.</p>
                <p>4. <strong>CÁC ĐIỀU KIỆN KHÁC.</strong></p>
                <p>– Quý khách vui lòng kiểm tra hàng hóa trước khi ký nhận hàng hóa. Quý khách có thể từ chối nhận hàng nếu hàng hóa đã bị vỡ hỏng do quá trình vận chuyển hoặc Quý khách liên hệ trực tiếp với nhân viên bán hàng để được tư vấn cụ thể.</p>
                <p>– Trường hợp công ty đã vận chuyển đến địa điểm giao nhận như thỏa thuận, nhưng vì một lý do khách hàng thay đổi địa điểm nhận hàng; khách hàng phải chịu chi phí vận chuyển cho việc đổi địa điểm giao hàng theo biểu phí của công ty. Mức phí này sẽ được nhân viên Nhà Xinh thông báo đến Quý khách.</p>
                <p>– Trong trường hợp khách hàng có thay đổi về thời gian nhận hàng so với thỏa thuận khi mua hàng, cần báo trước cho chúng tôi ít nhất trước 24h với khách hàng nội thành và ít nhất 48h đối với khách hàng có khoảng cách trên 30km từ showroom mua hàng.</p>
                <p>– Trường hợp công ty đã vận chuyển đến địa điểm giao nhận nhưng không liên lạc được với quý khách, chúng tôi sẽ để lại tin nhắn thông báo. Chúng tôi sẽ tính phí giao hàng nếu giao hàng không thành công.</p>
                <p>– Trong một số trường hợp khách quan chúng tôi có thể giao hàng chậm do điều kiện bất khả kháng: thời tiết xấu, thiên tai, điều kiện giao thông, giờ cấm đường hoặc vào thời điểm lễ tết, sự kiện đặc biệt dẫn tới thay đổi thời gian giao hàng, công ty sẽ liên lạc thông báo và điều chỉnh thời gian giao hàng cụ thể cho khách hàng.</p>
                <p>– Nhân viên của chúng tôi chỉ lắp đặt sản phẩm trong điều kiện mặt bằng sử dụng đã sẵn sàng. Nhân viên không được phép thực hiện bất kỳ công việc nào khác ngoài việc lắp đặt sản phẩm.</p>
                <p>– Nhân viên giao hàng – lắp đặt không được phép thu thêm bất cứ khoản chi phí nào ngoài các chi phí được thông báo từ bộ phận bán hàng.</p>
                <p>– Với tất cả các điều kiện trên, quý khách hàng có yêu cầu khác, vui lòng hệ với nhân viên chăm sóc khách hàng hoặc cửa hàng để được tư vấn, hỗ trợ đầy đủ nhất.</p>
                <p>– Các chính sách và điều khoản có thể được chúng tôi thay đổi cho phù hợp nhất mà không cần báo trước.</p>
                <p><strong>CHÍNH SÁCH BẢO HÀNH</strong></p>
                <p><strong>1. ĐIỀU KHOẢN CHUNG VỀ THỜI HẠN BẢO HÀNH.</strong></p>
                <p>– Thời gian bảo hành các sản phẩm: 01 năm, kể từ khi nhận hàng. Nếu có trường hợp đặc biệt, nhân viên Nhà Xinh sẽ thông báo đến Quý khách.</p>
                <p>– Các sản phẩm hàng trang trí không áp dụng bảo hành nhưng áp dụng theo chính sách đổi trả hàng hoá.</p>
                <p>– Chính sách bảo hành có hiệu lực từ thời điểm bên mua nhận sản phẩm (Căn cứ theo Phiếu xuất kho kiêm biên bản bàn giao &amp; phiếu bảo hành).</p>
                <p>2<strong>. ĐIỀU KIỆN BẢO HÀNH.</strong></p>
                <p>– Các sản phẩm vẫn nằm trong thời gian bảo hành của bên bán.</p>
                <p>– Khách hàng cung cấp đầy đủ Phiếu xuất kho kiêm biên bản bàn giao &amp; phiếu bảo hành.</p>
                <p>– Bên bán chỉ bảo hành cho các lỗi phát sinh trong quá trình sản xuất sản phẩm.</p>
                <p><strong>3. QUY TRÌNH BẢO HÀNH.</strong></p>
                <p>– Cửa hàng phụ trách kiểm tra sản phẩm, xác định các trường hợp thuộc phạm vi bảo hành.</p>
                <p>– Với sản phẩm thuộc phạm vi bảo hành, cửa hàng sẽ quyết định việc sửa chữa hoặc thay thế hoặc hoàn đổi lại sản phẩm.</p>
                <p>– Đối với các sản phẩm không còn tiếp tục kinh doanh, nếu nằm trong phạm vi bảo hành, không thể sửa chữa thì bên bán sẽ thay thế bằng sản phẩm có giá trị tương đồng.</p>
                <p>– Bên bán kiểm tra sản phẩm trong vòng 48h, hoàn tất bảo hành trong vòng 48h tiếp theo. Với trường hợp đặc biệt bên mua và bên bán thống nhất thời gian bảo hành.</p>
                <p>4.<strong> PHẠM VI BẢO HÀNH.</strong></p>
                <p>Nhà Xinh bảo hành cho các sản phẩm đáp ứng đủ hai điều kiện sau:</p>
                <p>• Sản phẩm hư hỏng do lỗi kỹ thuật của nhà sản xuất và;</p>
                <p>• Sản phẩm còn trong thời hạn bảo hành.</p>
                <p>Nhà Xinh không bảo hành trong các trường hợp sau:</p>
                <p>• Khách hàng tự ý sửa chữa khi sản phẩm gặp trục trặc.</p>
                <p>• Sản phẩm trầy xước, hư hỏng do khách hàng không sử dụng theo đúng hướng dẫn.</p>
                <p>• Sản phẩm được xử lý chống mọt từ bên trong, mọi tác động do môi trường bên ngoài như: ẩm ướt, mối, chuột,… sẽ không được bảo hành.</p>
                <p>• Sản phẩm bị ngập nước, gây nở, cong, vênh.</p>
                <p>• Sản phẩm bị tác động của hơi nước, lửa,… do việc lắp đặt của các thiết bị điện nước của khách hàng không đảm bảo an toàn.</p>
                <p>• Sản phẩm không có phiếu bảo hành của công ty.</p>
                <p>• Sản phẩm bị hao mòn tự nhiên theo tính chất của từng loại vật liệu.</p>
                <p>• Sản phẩm không được bảo dưỡng đúng cách.</p>
                <p>Để biết thêm thông tin, vui lòng liên hệ với cửa hàng hoặc liên hệ trực tiếp bộ phận chăm sóc khách hàng:</p>
                <p>• Hotline: 1800 7200</p>
                <p>• Email: <a href="mailto:nhaxinhcare@akacompany.com.vn">nhaxinhcare@akacompany.com.vn</a></p>
                <p>• Website: <a href="../../common/home.html">www.nhaxinh.com</a></p>
                <!-- </div> -->
                <p><strong>CHÍNH SÁCH BẢO MẬT THANH TOÁN</strong></p>
                <p><strong>1. CAM KẾT BẢO MẬT.</strong></p>
                <p>Hệ thống thanh toán thẻ được cung cấp bởi các đối tác cổng thanh toán (“Đối Tác Cổng Thanh Toán”) đã được cấp phép hoạt động hợp pháp tại Việt Nam. Theo đó, các tiêu chuẩn bảo mật thanh toán thẻ tại Nhà Xinh đảm bảo tuân thủ theo các tiêu chuẩn bảo mật ngành.</p>
                <p><strong>2. QUY ĐỊNH BẢO MẬT.</strong></p>
                <p>– Chính sách giao dịch thanh toán bằng thẻ quốc tế và thẻ nội địa (internet banking) đảm bảo tuân thủ các tiêu chuẩn bảo mật của các Đối Tác Cổng Thanh Toán gồm:</p>
                <ul>
                <li>Thông tin tài chính của Khách hàng sẽ được bảo vệ trong suốt quá trình giao dịch bằng giao thức SSL (Secure Sockets Layer).</li>
                <li>Chứng nhận tiêu chuẩn bảo mật dữ liệu thông tin thanh toán (PCI DSS) do Trustwave cung cấp.</li>
                <li>Mật khẩu sử dụng một lần (OTP) được gửi qua SMS để đảm bảo việc truy cập tài khoản được xác thực.</li>
                <li>Tiêu chuẩn mã hóa MD5 128 bit.</li>
                <li>Các nguyên tắc và quy định bảo mật thông tin trong ngành tài chính ngân hàng theo quy định của Ngân hàng nhà nước Việt Nam.</li>
                </ul>
                <p>– Chính sách bảo mật giao dịch trong thanh toán của Nhà Xinh áp dụng với Khách hàng:</p>
                <ul>
                <li>Nhà Xinh cung cấp tiện ích lưu giữ token – chỉ lưu chuỗi đã được mã hóa bởi Đối Tác Cổng Thanh Toán cung cấp. Nhà Xinh không trực tiếp lưu trữ thông tin thẻ khách hàng. Việc bảo mật thông tin thẻ thanh toán Khách hàng được thực hiện bởi Đối Tác Cổng Thanh Toán đã được cấp phép.</li>
                <li>Đối với thẻ quốc tế: thông tin thẻ thanh toán của Khách hàng mà có khả năng sử dụng để xác lập giao dịch không được lưu trên hệ thống của www.nhaxinh.com . Đối Tác Cổng Thanh Toán sẽ lưu trữ và bảo mật.</li>
                <li>Đối với thẻ nội địa (internet banking), Nhà Xinh chỉ lưu trữ mã đơn hàng, mã giao dịch và tên ngân hàng.</li>
                </ul>
                <p>Nhà Xinh cam kết đảm bảo thực hiện nghiêm túc các biện pháp bảo mật cần thiết cho mọi hoạt động thanh toán thực hiện trên website www.nhaxinh.com.</p>
                <p>Tôi đã đọc và đồng ý điều kiện đổi trả hàng, giao hàng, chính sách bảo mật, điều khoản dịch vụ mua hàng online.</p>
            <p>		</p>
        </div>
    </div>
                    <label class="checkbox-label">
                        <input type="checkbox">
                        Tôi đã đọc và đồng ý với điều kiện đổi trả hàng, giao hàng, chính sách bảo mật, điều khoản dịch vụ mua hàng online *
                    </label>
                </div>
    
                <button class="order-button">ĐẶT MUA</button>
            </div>
        </div>
            </div>
        </div>
        

<div>
    <footer class="footer">
        <div class="footer-container">
            <!-- Left Column -->
            <div class="footer-column">
                <h3>KẾT NỐI VỚI NHÀ XINH</h3>
                <img src="../../../../../public/images/logos/logo3.png"
                    alt=" Logo" class="footer-logo">
                <p>FOLLOW US</p>
                <p>Instagram – Youtube – Facebook</p>
                <button class="footer-button">HỆ THỐNG CỬA HÀNG</button>
            </div>

            <!-- Second Column -->
            <div class="footer-column">
                <h3>NHÀ XINH</h3>
                <ul>
                    <li><a href="#">Giới thiệu</a></li>
                    <li><a href="#">Chuyện Nhà Xinh</a></li>
                    <li><a href="#">Tổng công ty</a></li>
                    <li><a href="#">Tuyển dụng</a></li>
                    <li><a href="#">Thẻ hội viên</a></li>
                    <li><a href="#">Đổi trả hàng</a></li>
                </ul>
            </div>

            <!-- Third Column -->
            <div class="footer-column">
                <h3>CẢM HỨNG</h3>
                <ul>
                    <li><a href="#">Sản phẩm</a></li>
                    <li><a href="#">Ý tưởng và cảm hứng</a></li>
                </ul>
            </div>

            <!-- Fourth Column -->
            <div class="footer-column">
                <h3>NEWSLETTER</h3>
                <p>Hãy để lại email của bạn để nhận được những ý tưởng trang trí mới và thông tin ưu đãi từ Nhà Xinh</p>
                <p>Email: nhaxinhcare@akacompany.com.vn</p>
                <p>Hotline: 18007200</p>
                <div class="newsletter">
                    <input type="email" placeholder="Nhập email của bạn">
                    <button class="subscribe-button">ĐĂNG KÝ</button>
                </div>
            </div>
        </div>

        <!-- Footer Bottom -->
        <div class="footer-bottom">
            <p>© 2021 - Bản quyền của Nhà Xinh - Thương hiệu thuộc AKA Furniture. Từ năm 1999 - Thương hiệu đăng ký số
                284074 Cục sở hữu trí tuệ</p>
        </div>
    </footer>
</div>
</body>
</html>