<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="..\..\..\..\public\css\footer.css">
    <link href="..\..\..\..\public\bootstrap-5.3.3-dist\css\bootstrap.min.css" rel="stylesheet">
    <script src="..\..\..\..\public\bootstrap-5.3.3-dist\js\bootstrap.bundle.min.js"></script>
</head>
<body>
    <div id="footer" class="dark">
        <div class="footer-widgets">
            <div class="connect four-columns">
                <h2>Kết nối với nhà xinh</h2>
                <h3>Follow us</h3>
                <p>
                    <a href="">Instagram</a> -
                    <a href="">Youtube</a> -
                    <a href="">Facebook</a>
                </p>
                div.
            </div>
            <div class="infor four-columns">

            </div>
            <div class="idea four-columns">

            </div>
            <div class="contact four-columns">

            </div>
        </div>

    </div>
</body>
</html>
