<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link rel="stylesheet" href="/../../ecommerce/public/css/header.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="container-hd">
        <header>
            <div class="header-top-hd">
                <div class="language-switcher-hd">
                    <a href="#">EN</a> | <a href="#">VN</a>
                </div>
                <div class="contact-info-hd">
                    <div class="phone-hd">
                        <a class="fas fa-regular fa-phone"></a>
                    </div>
                 
                    <a href="tel:0906904114">0906 904 114</a>
                    <div class="about-hd">
                    <a href="../../ecommerce/src/webapp/about.html">Giới thiệu</a>
                    <a href="#">Khuyến mãi </a>
                </div>
                </div>

                <div class="header-icons-hd">
                    <a href="#" class="fas fa-map-marker-alt"></a>
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-shopping-cart"></a>
                    <a href="#" class="fas fa-light fa-user"></a>
                    <h4 style="font-weight: lighter; margin-left: -15px;">Đăng nhập</h4>
                </div>
            </div>

            <div class="header-bottom-hd">
                <div class="menu-icon-hd">
                    <img src="/../../ecommerce/public/images/menu-bar/menu-bar.png" alt="Menu Icon">
                </div>
                <div class="logo-hd">
                    <img src="https://media.discordapp.net/attachments/1284859855206744178/1298558579468668958/kanes-furniture-logo-vector.png?ex=671b51eb&is=671a006b&hm=dc2e44a1b008a11aa0eba91e78312a380685db11f8e263624e6db50813c454df&=&format=webp&quality=lossless&width=737&height=409"
                        alt="Logo">
                </div>
                <nav class="main-nav">
                    <a href="#">SẢN PHẨM</a>
                    <a href="#">PHÒNG</a>
                    <a href="#">BỘ SƯU TẬP</a>
                    <a href="#">THIẾT KẾ NỘI THẤT</a>
                    <a href="#">GÓC CẢM HỨNG</a>

                </nav>

                <div class="search-bar-hd">
                    <input type="text" placeholder="Tìm sản phẩm">
                    <button><i class="fa-solid fa-magnifying-glass"></i></button>
                </div>
            </div>
        </header>
    </div>
</body>

</html>
