<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/../../ecommerce/public/css/home.css" />
    <link rel="stylesheet" href="/../../ecommerce/public/css/header.css" />
    <link rel="stylesheet" href="\..\..\ecommerce/public/css/footer.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="container" style="margin: 0; padding: 0;">
      <div class="container-hd">
        <header>
          <div class="header-top-hd">
            <div class="language-switcher-hd">
              <a href="#">EN</a> | <a href="#">VN</a>
            </div>
            <div class="contact-info-hd">
              <div class="phone-hd">
                <a class="fas fa-regular fa-phone"></a>
              </div>
              <a href="tel:0906904114">0906 904 114</a>
              <div class="about-hd">
                <a href="../../ecommerce/src/webapp/about.html">Giới thiệu</a>
                <a href="#">Khuyến mãi </a>
              </div>
            </div>
            <div class="header-icons-hd">
              <a href="#" class="fas fa-map-marker-alt"></a>
              <a href="#" class="fas fa-heart"></a>
              <a href="#" class="fas fa-shopping-cart"></a>
              <a href="#" class="fas fa-light fa-user"></a>
              <h4 style="font-weight: lighter; margin-left: -15px; font-size: medium; margin-top: 10px;">Đăng nhập</h4>
            </div>
          </div>
          <div class="header-bottom-hd">
            <div class="menu-icon-hd">
              <img src="/../../ecommerce/public/images/menu-bar/menu-bar.png" alt="Menu Icon">
            </div>
            <div class="logo-hd">
              <img src="https://media.discordapp.net/attachments/1284859855206744178/1298558579468668958/kanes-furniture-logo-vector.png?ex=671b51eb&is=671a006b&hm=dc2e44a1b008a11aa0eba91e78312a380685db11f8e263624e6db50813c454df&=&format=webp&quality=lossless&width=737&height=409"
                alt="Logo">
            </div>
            <nav class="main-nav">
              <a href="#">SẢN PHẨM</a>
              <a href="#">PHÒNG</a>
              <a href="#">BỘ SƯU TẬP</a>
              <a href="#">THIẾT KẾ NỘI THẤT</a>
              <a href="#">GÓC CẢM HỨNG</a>
            </nav>
            <div class="search-bar-hd">
              <input type="text" placeholder="Tìm sản phẩm">
              <button><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
          </div>
        </header>
      </div>
    </div>

    <!-- Nội dung trang chủ -->
    <div class="body">
      <div class="homepage-button-pic">
      <img class="homepage-pic" src="/../../ecommerce/public/images/banners/homepage.jpg" alt="" />
      <div class="text-home">
        <h1 style="font-size: 64px; position: relative;">BỘ SƯU TẬP MÂY</h1>
        <p style="font-size: x-large;  position: relative;"><strong>Nét đẹp đương đại</strong></p>
        <a href="https://nhaxinh.com/bo-suu-tap-may-moi-ve-dep-diu-em-trong-tung-duong-net/" class="button-explore">
          <button class="explore-button">Khám phá ngay!</button>
        </a>
      </div>
    </div>
      <div class="img-banner">
        <div class="left-img">
          <img style="width: 750px;height: 720px;" src="/../../ecommerce/public/images/banners/BST-COASTAL-SOFA-VANG-2.jpg" alt="">
          <!-- <h3>Sofa</h3> -->
        </div>
        <div class="right-img">
          <img src="/../../ecommerce/public/images/banners/giuong-ngu-pio-1.jpg" alt="">
          <img src="/../../ecommerce/public/images/banners/banner-armchair-nhaxinh-31-1-24.jpg" alt="">
          <img src="/../../ecommerce/public/images/banners/nha-xinh-banner-ban-an-vuong-24423.jpg" alt="">
          <img src="/../../ecommerce/public/images/banners/nha-xinh-ghe-an-phong-an-749x800.jpg" alt="">

        </div>
      </div>
      <div class="search-home">
      <input type="search" id="woocommerce-product-search-field-2" class="search-field mb-0" placeholder="Tìm sản phẩm" value="" name="s" autocomplete="off">
      <button class="but-search"  style="background-color: #d26e4b;"><i class="fa-solid fa-magnifying-glass" ></i></button>
    </div>
    <div class="body-imga">
      <section class="part1">
        <div class="left-side-part1">
          <img style="width: 100%;height: auto;" src="https://nhaxinh.com/wp-content/uploads/2024/01/nha-xinh-banner-phong-khach-31-1-24.jpg" alt="">
        </div>
        <div class="middle-text">
          <div class="left-text">
            <div class="top-text">
            <h1>Không gian phòng khách</h1>
            <p>Phòng khách là không gian chính của ngôi nhà, là nơi sum họp gia đình</p>
            <h4 style="font-weight: lighter;" href="#">MẪU THIẾT KẾ <i  class="fa-solid fa-arrow-right" style="color: #343434;"></i></h4></div>
            <div class="bot-text">
            <h1>Đồ trang trí</h1>
            <p>Mang lại những nguồn cảm hứng và nét sinh động cho không gian</p>
            <h4 style="font-weight: lighter;" href="#" >KHÁM PHÁ <i  class="fa-solid fa-arrow-right"  style="color: #343434;"></i></h4>
          </div>
          </div>  
        </div>
        <div class="right-side-part1">
          <img style="height: 400px; width: 100%;" src="https://nhaxinh.com/wp-content/uploads/2024/01/nha-xinh-do-trang-tri-banner-31-1-24.jpg" alt="">
        </div>
      </section>
      <section class="part2">
        <div class="left-part2">
          <h1>NỘI THẤT TINH TẾ</h1>
          <p>Với kinh nghiệm hơn 25 năm trong hoàn thiện nội thất, Nhà Xinh mang đến giải pháp toàn diện trong bao gồm thiết kế, trang trí và cung cấp nội thất trọn gói. Sở hữu đội ngũ chuyên nghiệp và hệ thống 10 cửa hàng, Nhà Xinh là lựa chọn cho không gian tinh tế và hiện đại.</p>
          <button class="xemthem" style="font-size: large;font-weight: bold;">Xem thêm</button>
        </div>
        <div class="right-part2">
          <img style="width: 700px;height: 440px;" src="https://nhaxinh.com/wp-content/uploads/2023/05/nha-xinh-thiet-ke-noi-that-ecopark-16523-1200x800.jpg" alt="">
        </div>
      </section>
      <section class="new-product-header">
        <h2 href="#">Sản phẩm mới</h2>  
        <a href="#" style="width: 100px;">xem tất cả</a>
      </section>
      <section style="margin-left: 5%; margin-right: 5%; padding-top: 50px;">
        <div class="card-group">
          <div class="card">
            <img src="/../../ecommerce/public/images/all-products/79.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Bàn nước Orientale walnut</h5>
              <p class="card-text"><i class="fa-regular fa-heart"></i></br>49,900,000đ </p>
            </div>
            <div class="card-footer">
              <small class="text-muted">
                <button class="add-to-cart">Thêm vào giỏ</button>
                <button class="see-more">Xem thêm</button>
              </small>
            </div>
          </div>
          <div class="card">
            <img src="/../../ecommerce/public/images/all-products/46.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Sofa 3 chỗ Orientale da beige R5</h5>
              <p class="card-text"><i class="fa-regular fa-heart"></i></br>135,750,000đ </p>
            </div>
            <div class="card-footer">
              <small class="text-muted">   <button class="add-to-cart">Thêm vào giỏ</button>
                <button class="see-more">Xem thêm</button></small>
            </div>
          </div>
          <div class="card">
            <img src="/../../ecommerce/public/images/all-products/43.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Sofa 2 chỗ Mây mới</h5>
              <p class="card-text"><i class="fa-regular fa-heart"></i></br>19,900,000đ </p>
            </div>
            <div class="card-footer">
              <small class="text-muted">   <button class="add-to-cart">Thêm vào giỏ</button></small>
            </div>
          </div>
          <div class="card">
            <img src="/../../ecommerce/public/images/all-products/53.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Armchair Mây mới</h5>
              <p class="card-text"><i class="fa-regular fa-heart"></i></br>13,900,000đ </p>
            </div>
            <div class="card-footer">
              <small class="text-muted"><button class="see-more">Xem thêm</button></small>
            </div>
          </div>
        </div>
      </section>
      <section class="part3">
        <div class="content-wrapper">
            <div class="support-form">
                <div class="hotline">
                    <p class="fa-solid fa-phone" style="color: #000000;"> HOTLINE: 1800 7200</p>
                </div>
                <h2>Bạn cần hỗ trợ?</h2>
                <p>Xin vui lòng để lại yêu cầu hỗ trợ của bạn.</p>
                
                <form class="sp">
                    <div class="form-row">
                        <input type="text" placeholder="Họ tên" required>
                        <input type="tel" placeholder="+(84) 0123 456" required>
                    </div>
                    <input type="email" placeholder="Enter email" required>
                    <textarea placeholder="Nội dung liên hệ" required></textarea>
                    
                    <div class="form-row">
                        <input type="file">
                        <button type="submit">GỬI YÊU CẦU</button>
                    </div>
                </form>
            </div>
            
            <div class="img-right-part3">
                <img src="/../../ecommerce/public/images/banners/banner1.jpg" alt="" style="width: 100%; height: auto;">
            </div>
        </div>
    </section>
    <div class="part4">
      <img class="near-header-part4" style="width: 100%; height: 680px;" src="/../../ecommerce/public/images/banners/banner4.jpg" alt="">
      <h1>Xem, chạm và cảm nhận</h1>
      <button style="font-weight: bold;">Tìm cửa hàng</button>
    </div>
    <footer class="footer">
      <div class="footer-container">
          <!-- Left Column -->
          <div class="footer-column">
              <h3>KẾT NỐI VỚI NHÀ XINH</h3>
              <img src="https://media.discordapp.net/attachments/1284859855206744178/1298558579468668958/kanes-furniture-logo-vector.png?ex=671b51eb&is=671a006b&hm=dc2e44a1b008a11aa0eba91e78312a380685db11f8e263624e6db50813c454df&=&format=webp&quality=lossless&width=737&height=409"
                  alt=" Logo" class="footer-logo">
              <p>FOLLOW US</p>
              <p>Instagram – Youtube – Facebook</p>
              <button class="footer-button">HỆ THỐNG CỬA HÀNG</button>
          </div>

          <!-- Second Column -->
          <div class="footer-column">
              <h3>NHÀ XINH</h3>
              <ul>
                  <li><a href="#">Giới thiệu</a></li>
                  <li><a href="#">Chuyện Nhà Xinh</a></li>
                  <li><a href="#">Tổng công ty</a></li>
                  <li><a href="#">Tuyển dụng</a></li>
                  <li><a href="#">Thẻ hội viên</a></li>
                  <li><a href="#">Đổi trả hàng</a></li>
              </ul>
          </div>

          <!-- Third Column -->
          <div class="footer-column">
              <h3>CẢM HỨNG</h3>
              <ul>
                  <li><a href="#">Sản phẩm</a></li>
                  <li><a href="#">Ý tưởng và cảm hứng</a></li>
              </ul>
          </div>

          <!-- Fourth Column -->
          <div class="footer-column">
              <h3>NEWSLETTER</h3>
              <p>Hãy để lại email của bạn để nhận được những ý tưởng trang trí mới và thông tin ưu đãi từ Nhà Xinh</p>
              <p>Email: nhaxinhcare@akacompany.com.vn</p>
              <p>Hotline: 18007200</p>
              <div class="newsletter">
                  <input type="email" placeholder="Nhập email của bạn">
                  <button class="subscribe-button">ĐĂNG KÝ</button>
              </div>
          </div>
      </div>

      <!-- Footer Bottom -->
      <div class="footer-bottom">
          <p>© 2021 - Bản quyền của Nhà Xinh - Thương hiệu thuộc AKA Furniture. Từ năm 1999 - Thương hiệu đăng ký số
              284074 Cục sở hữu trí tuệ</p>
      </div>
  </footer>
    </div>
    </div>
  </body>
</html>
